/*Old Titlebar*/
.typeWindows-1za-n7 { height: 21px; margin-top: 5px; }
.winButton-iRh8-Z {height: 5px; opacity: 0.6; width: 28px; right: 0px;}
.titleBar-AC4pGV rect, .winButton-iRh8-Z svg {display: block !important;}
.titleBar-AC4pGV .winButtonClose-1HsbF-,
.titleBar-AC4pGV .winButton-iRh8-Z:nth-child(3),
.titleBar-AC4pGV .winButton-iRh8-Z:nth-child(4) { background-image: none !important;}
.title-3qD0b-, .titleCall-_b9o8P {height: 46px;}
.winButton-iRh8-Z:hover:nth-of-type(2) {background:#f04747 !important;}
.typeWindows-1za-n7 {
    background-color : rgba(0,0,0,0.8) !important;
    margin-bottom:-6px;
}
.titleBar-AC4pGV:before {
    content: 'Dark Matter Remastered v3.0';
    color:rgb(160,160,160);
    text-shadow:none;
    left:8px;
    top: 5px;
    font-family:"Karla";
    font-weight:900;
}
.winButton-iRh8-Z:hover {
    height: 22px;
    top: -3px;
    width: 28px;
    border-radius:0px !important;
    transition:none !important;
    background:rgba(255, 255, 255, 0.05) !important;
}
.titleWrapper-1l0xT9 .flex-1xMQg5 .flex-1xMQg5, #friends .flex-1xMQg5 .flex-1xMQg5, .activityFeed-28jde9>.flex-1xMQg5>.horizontal-1ae9ci>.flex-1xMQg5:last-child, .gameLibrary-TTDw4Y>.flex-1xMQg5 .flex-1xMQg5:last-child, .applicationStore-1pNvnv>.homeWrapper-3-Wh5T>.flex-1xMQg5 .flex-1xMQg5:last-child, .applicationStore-1pNvnv>.listingWrapper-329f74>.flex-1xMQg5 .flex-1xMQg5:last-child, .applicationStore-1pNvnv>.browseWrapper-2Qy6vG>.flex-1xMQg5 .flex-1xMQg5:last-child {
    margin-right: 0px;
}
