/*Smooth Backgrounds*/
/*By Tropical*/
.wrapper-1Rf91z,
.activityFeed-28jde9,
.channels-Ie2l6A,
.members-1998pB,
.container-2Thooq,
.applicationStore-1pNvnv,
.root-1BQpZw .scroller-2FKFPG,
.chat-3bRxxu .title-3qD0b-,
.content-yTz4x3 .flex-spacer {
  background:rgba(0,0,0,0.5) !important;
  box-shadow:none !important;
	border:none !important;
}
