//META{"name":"Hidden Settings Option Hovering","description":"hides settings options till hovered","author":"Ruben7173","version":"1.0"}*// {}

/* compact settings from satoru with a few modifications */
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ,#app-mount #bd-settings-sidebar .ui-tab-bar-item{line-height:20px}
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e {padding: 20px 18px 20px 23px ;width: 210px }
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {flex: 0}
.standardSidebarView-3F1I7i .contentColumnDefault-1VQkGM {max-width: 90%;padding: 40px 30px 80px}

/* Settings adding hover animations */
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP:hover {
	width:200px;
	transition: width .6s;
	opacity: 1;
}
/* settings animations */
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP {
	min-width:10px!important;
	max-width:240px!important;
	width:10px;
	transition: all .5s;
	opacity: 0;
}