//META{"name":"Slate Theme","description":"First Official Release Dark Theme","author":"Ruben7173","version":"1.1"}*//{}

@import url(https://rawgit.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Slate-Theme/code.css);

/* Custom Guild Icon */
.theme-dark .homeIcon-tEMBK1 {
    background: url('https://pre00.deviantart.net/f2ac/th/pre/i/2017/044/1/7/discord_logo1600_by_seoxys6-dayxre0.png');
    background-color: rgba(0,0,0,0)!important;
	color: rgba(0,0,0,0);
    background-position: center;
    background-size: cover;
}

/** Input any Custom code below **/