---
---
body {
    background: url(http://freshwallpapers.net/download/8778/1920x1080/download/new-material-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #ff0000;
}

@import "{{ site.theme }}";

body {
    background: url(http://freshwallpapers.net/download/8778/1920x1080/download/new-material-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #ff0000;
}
