/* changes status from a circle to a border around pfp */
/* online */
.online-2S838R {
    border: 2px solid #43b581!important;
    background-color: transparent;
}
/* idle */
.idle-3DEnRT {
    background-color: transparent;
    border: 2px solid #faa61a!important;
}
/* do not disturb */
.dnd-1_xrcq {
    background-color: transparent;
    border: 2px solid #f04747!important;
}
/* offline */
.invisible-1kp8Z0, .offline-3qoTek, .unknown-Ms2zdV {
    background-color: transparent;
    border: 2px solid #2f3136;
}
/* position of those statuses in whos online list */
.status-2s6iDp, .avatar-small .status {
    bottom: -19px;
    height: 28px;
    width: 28px;
    top: -3%;
    left: -1px;
    border-radius: 999px;
    z-index: 1;
}
.container-2Thooq .avatar-3JE4B3 {
    z-index: 2;
}
/* position of those statuses in profile */
.statusProfile-3ynqtt {
    height: 88px;
    width: 88px;
    top: 0px;
    left: -1px;
}
.maskProfile-1ObLFT, .mask-3OgeRz {
    -webkit-mask: none;
}
.statusProfile-3ynqtt.online-2S838R, .statusProfile-3ynqtt.invisible-1kp8Z0, .statusProfile-3ynqtt.offline-3qoTek, .statusProfile-3ynqtt.unknown-Ms2zdV {
    -webkit-box-shadow: none;
}

/* typing */
.typing-1KJk_j {
    position: relative!important;
    top: -30px!important;
    height: 26px!important;
}
.spinner-2enMB9 {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.3);
}