/* transparency made to work with gradients */
/* Background Image */
.appMount-3VJmYg {
	background: var(--background-image);
}

/* removing backgrounds */
.container-2lgZY8, .channels-Ie2l6A, .app .layer-3QrUeG, .app .layers-3iHuyZ, .app .chat-3bRxxu, .app .channelTextArea-rNsIhG, .app .content-yTz4x3, .app .messagesWrapper-3lZDfY, .app .chat-3bRxxu form, .app .members-1998pB, .app .headerBar-UHpsPw, .app .standardSidebarView-3F1I7i, .app .typing-2GQL18 {
	background: transparent;
}

/* Guild and Top bar transparency */
.app .guildsWrapper-5TJh6A {
	background:transparent;
	background-image: var(--transparency-1);
}

/* transparency for channels and members list and private channels and left side of settings*/
.container-PNkimc, .privateChannels-1nO12o, .app .sidebarRegion-VFTUkN, .app .container-2Thooq {
	background: transparent;
	background-image: var(--transparency-2);
}

/* chat and top area and other secondary pages */
.app .activityFeed-28jde9, .app .gameLibrary-TTDw4Y, .app .applicationStore-1pNvnv, .theme-dark #friends, .app .contentRegion-3nDuYy, .app .noChannel-Z1DQK7, .app .container-3gCOGc, .app .root-1BQpZw {
	background: transparent;
	background-image: var(--transparency-3);
}

/* extra for transparency 3 special case */
.themeDark-3Ap_7i, .app .chat-3bRxxu {
	background-color: transparent;
	background-image: var(--transparency-3);
}

.typeWindows-1za-n7 {
	background-image: var(--transparency-5);
}

/* removes margin from top area and adds it to the nav buttons + discord logo */
.typeWindows-1za-n7 {
	height: 21px;
    margin-top: 0px;
}
.flexCenter-3_1bcw {
    margin-top: 3px;
}
/* removes a border under better discord at channels */
.unread-1xRYoj {
	display:none;
}
/* removes a margin bottom */
.container-2Thooq {
	margin-bottom: 0px;
}
.base-3dtUhz {
    border-radius:0px;
}