/* transparency made to work with gradients */
/* Background Image */
#app-mount {
	background: var(--background-image);
}

/* removing backgrounds */
.container-2lgZY8, .channels-Ie2l6A, .app-1q1i1E .layer-3QrUeG, .app-1q1i1E .layers-3iHuyZ, .app-1q1i1E .chat-3bRxxu, .app-1q1i1E .channelTextArea-rNsIhG, .app-1q1i1E .content-yTz4x3, .app-1q1i1E .messagesWrapper-3lZDfY, .app-1q1i1E .chat-3bRxxu form, .app-1q1i1E .members-1998pB, .app-1q1i1E .headerBar-UHpsPw, .app-1q1i1E .standardSidebarView-3F1I7i, .app-1q1i1E .typing-2GQL18 {
	background: transparent;
}

/* Guild and Top bar transparency */
.theme-dark .wrapper-1Rf91z {
	background:transparent;
	background-image: var(--transparency-1);
}

/* transparency for channels and members list and private channels and left side of settings*/
.container-PNkimc, .privateChannels-1nO12o, .app-1q1i1E .sidebarRegion-VFTUkN, .app-1q1i1E .container-3baos1 {
	background: transparent;
	background-image: var(--transparency-2);
}
.theme-dark .container-3baos1, .theme-light .container-3baos1 {
	background: var(--transparency-2);
}
/* chat and top area and other secondary pages */
.app-1q1i1E .activityFeed-28jde9, .activityFeed-1C0EmJ, .app-1q1i1E .gameLibrary-TTDw4Y, .app-1q1i1E .applicationStore-1pNvnv, .app-1q1i1E #friends, .app-1q1i1E .contentRegion-3nDuYy, .app-1q1i1E .noChannel-Z1DQK7, .app-1q1i1E .container-3gCOGc {
	background: transparent;
	background-image: var(--transparency-3);
}
/* removing color from specific class */
.panels-j1Uci_ {
	background-color: transparent;
}
/* extra for transparency 3 special case */
.themeDark-3Ap_7i, .app-1q1i1E .chat-3bRxxu {
	background-color: transparent;
	background-image: var(--transparency-3);
}

.typeWindows-1za-n7 {
	background-image: var(--transparency-5);
}

/* removes margin from top area and adds it to the nav buttons + discord logo */
.typeWindows-1za-n7 {
	height: 21px;
    margin-top: 0px;
}
.flexCenter-3_1bcw {
    margin-top: 3px;
}
/* removes a border under better discord at channels */
.unread-1xRYoj {
	display:none;
}
/* removes a margin bottom */
.container-3baos1 {
	margin-bottom: 0px;
}
.base-3dtUhz {
    border-radius:0px;
}

/* fixes */
.theme-dark {
    --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
	--background-accent: none;
}
