@import url('https://anti-betterdocs.github.io/BlockBetterDocs/code.css');
/* Background */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .appMount-3VJmYg {
    background:url('https://i.imgur.com/hwseeIN.jpg');
}

/* Adds transparency color to settings */
.theme-dark .standardSidebarView-3F1I7i, .da-app .container-3gCOGc {
        background-color: hsla(43, 0%, 6%, 0.65);
}
/* Transparency of settings 100% */
.theme-dark .ui-standard-sidebar-view, .theme-dark .contentRegion-3nDuYy, .theme-dark .sidebarRegion-VFTUkN {
    background:transparent;

}

/* Top Bar Windows Transparency */
.typeWindows-1za-n7 {
    background-color: hsla(43, 0%, 6%, 0.65);
    height: 18px;
    margin-top: 0px;
    padding: 2px;
}

/* Adds transparency to groups */
.theme-dark .wrapper-1Rf91z {
    background-color: transparent;
}

/* Adds transparency to Channels */
.container-PNkimc, .channels-Ie2l6A {
    background-color: transparent;
}

/* Adds transparency to Group and Channels part */
.theme-dark .container-2lgZY8 {
    background-color: hsla(43, 0%, 6%, 0.65);
}

/* Adds transparency Behind chat */
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
    background-color:transparent;
}

/* Adds transparency when someone is typing */
.theme-dark .typing-2GQL18 {
    background-color:transparent;
}

/* Adds transparency to chat messages page */
.theme-dark .messagesWrapper-3lZDfY {
    background-color:transparent;
}

/* Adds transparency to the bar above chat messages page */
.theme-dark .title-3qD0b- {
    background: transparent;
}

/* Adds transparency to members list */
.theme-dark .members-1998pB {
    background-color:transparent;
}

/* Custom Scroll Bars */
.theme-dark ::-webkit-scrollbar, .chat-3bRxxu ::-webkit-scrollbar {
	width: 10px !important
}
.theme-dark ::-webkit-scrollbar-track-piece, .chat-3bRxxu ::-webkit-scrollbar-track-piece, .channels-Ie2l6A ::-webkit-scrollbar-track, .chat-3bRxxu ::-webkit-scrollbar-track { 
    background: transparent !important; 
    border-color: transparent !important;
}
.theme-dark ::-webkit-scrollbar-thumb, .chat-3bRxxu ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5) !important;
    border-color: transparent !important;
}
.theme-dark ::-webkit-scrollbar-thumb:hover, .chat-3bRxxu ::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0,5%,0%,.3) !important;
}
.theme-dark ::-webkit-scrollbar-thumb {
    border-color: transparent !important;
    background: hsla(289, 5%, 57%, 0.28) !important;
}

/* Chat Markdown */
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
    background: rgba(0,0,0,0.0);
}

/* Around microphone, deaphone, settings area */
.theme-dark .container-2Thooq {
    background: rgba(0, 0, 0, 0.28);
}

/* Adds transparency to the background of around microphone, headphone and settings */
.theme-dark .container-2Thooq {
    background: rgba(0, 0, 0, 0.0);
    background-color: hsla(0,5%,0%,.3);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}

/* Transparency color of chat message box */
.theme-dark .inner-zqa7da {
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* Background color of selected channel area and border */
.theme-dark .contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* Hovering color at selected channel area */
.theme-dark .contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    border: 1px solid rgb(0,0,0);
    border-right:10px;
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* Hovering color at members list */
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* Selected color at members list */
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* Hovering color at direct messages list */
.theme-dark .private-channels .channel:hover a {
    border: 1px solid rgb(0,0,0);
    background-color: hsla(0,5%,0%,.3);
    border-radius: 15px;
}

/* Selected Channels color and border at Direct Messages */
.theme-dark .private-channels .channel.selected a {
    border: 1px solid rgb(0,0,0);
    background-color: hsla(0,5%,0%,.3);
    border-radius: 15px;
}

/* Person Info Top part 1/2*/
.theme-dark .headerNormal-T_seeN {
    background-color: hsla(0,5%,0%,.3);
}
/* Person Info Top part 2/2*/
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: hsla(0,5%,0%,.3);
    color: hsla(0,0%,100%,.8);
}
/* Person Info message box Transparency */
.theme-dark .quickMessage-1yeL4E {
    background-color: hsla(0,5%,0%,.3);
    border-color: rgb(0,0,0);
    color: hsla(0,0%,100%,.7);
}
/* Person Info Border */
.theme-dark .userPopout-3XzG_A {
    border-radius: 15px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgb(0,0,0);
}

/* Person Info While on Spotify color */
.theme-dark .headerSpotify-zpWxgT {
    background: hsla(141, 73%, 42%,.3);
}

/* Person Info While playing a game color */
.theme-dark .headerPlaying-j0WQBV {
    background: hsla(0,5%,0%,.3);
}

/* Color of Markdown and border */
.theme-dark .markup-2BOw-j pre {
    background: hsla(0,5%,0%,.3);
    border-color: rgb(0,0,0);
}

/* AKA Button on top of chat */
.theme-dark .aka-1mqp34 {
    background: hsla(0,5%,0%,.3);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}

/* Search Button */
.theme-dark .search .search-bar {
    background: hsla(0,5%,0%,.3);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}

/* Find or Start a Conversation button */
.theme-dark .search-bar .search-bar-inner {
    background: hsla(0,5%,0%,.3);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}

/* Hovering button at settings color and border */
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover {
    background: hsla(0, 5%, 28%, 0.3);
    border: 1px solid rgb(99, 99, 99);
    border-radius: 15px;
}
/* Selected button at settings color and border */
.theme-dark .side-8zPYf6 .itemSelected-1qLhcL {
    background: hsla(0,5%,0%,.3);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}
/* Selected button at BD settings color and border */
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background: hsla(0,5%,0%,.3);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}

/* Hovering button at BD settings color and border */
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
    background: hsla(0, 5%, 28%, 0.3);
    border: 1px solid rgb(99, 99, 99);
    border-radius: 15px;
}

/* Transparency color of chat message box */
.theme-dark .inner-zqa7da {
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* Background color of selected channel area and border */
.theme-dark .contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* Hovering color at selected channel area */
.theme-dark .contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    border: 1px solid rgb(0,0,0);
    border-right:10px;
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* Hovering color at members list */
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* Selected color at members list */
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* Hovering color at direct messages list */
.theme-dark .private-channels .channel:hover a {
    border: 1px solid rgb(0,0,0);
    background-color: hsla(0,5%,0%,.3);
    border-radius: 15px;
}

/* Selected Channels color and border at Direct Messages */
.theme-dark .private-channels .channel.selected a {
    border: 1px solid rgb(0,0,0);
    background-color: hsla(0,5%,0%,.3);
    border-radius: 15px;
}

/* Person Info Top part 1/2*/
.theme-dark .headerNormal-T_seeN {
    background-color: hsla(0,5%,0%,.3);
}
/* Person Info Top part 2/2*/
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: hsla(0,5%,0%,.3);
    color: hsla(0,0%,100%,.8);
}
/* Person Info message box Transparency */
.theme-dark .quickMessage-1yeL4E {
    background-color: hsla(0,5%,0%,.3);
    border-color: rgb(0,0,0);
    color: hsla(0,0%,100%,.7);
}
/* Person Info Border */
.theme-dark .userPopout-3XzG_A {
    border-radius: 15px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgb(0,0,0);
}

/* Person Info While on Spotify color */
.theme-dark .headerSpotify-zpWxgT {
    background: hsla(141, 73%, 42%,.3);
}

/* Person Info While playing a game color */
.theme-dark .headerPlaying-j0WQBV {
    background: hsla(0,5%,0%,.3);
}

/* Changes color of box at settings */
.theme-dark .cardPrimary-1Hv-to {
    background: hsla(0,5%,0%,.3);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}
/* Changes color of settings of my account box color */
.theme-dark .cardPrimaryEditable-3KtE4g {
    background: hsla(0,5%,0%,.3);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}

/*changes borders of text boxes at settings of my account color and border */
.theme-dark .input-cIJ7To {
    background-color: hsla(0,5%,0%,.3);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}

/* Extra stuff of settings of my account disables border around the id on profile settings */
.theme-dark .input-cIJ7To.disabled-2BKQFm {
    border: 2px solid rgb(60,60,60);
}


/* Buttons on settings Color and Borders*/
.theme-dark .lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color:hsla(0,5%,0%,.3);
    border: 3px solid hsla(289, 5%, 57%, 0.28);
    border-radius:15px;
}

/* Settings red buttons border*/
.theme-dark .lookOutlined-3sRXeN.colorRed-1TFJan {
    border: 3px solid rgba(240,71,71,.3);
    border-radius:15px;
}

/* Connections page Connect your account icons transparency and border */
.theme-dark .accountBtnInner-sj5jLs {
    background-color:hsla(0,5%,0%,.3);
    border: 1px solid hsla(289, 5%, 57%, 0.28);
    border-radius:15px;
}

/* Settings Authorized Apps Bot Boxes border and color*/
.theme-dark .cardPrimaryOutline-29Ujqw {
    border-color: rgba(32,34,37,.6);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}

/* League Of Legends, steam and spotify boxes at Connection Settings transparency */
.theme-dark .elevationLow-2lY09M {
    background-color: hsla(0,5%,0%,.3)!important;
}
.theme-dark .connectionDelete-2Odoln {
    border: 2px solid hsla(0,0%,100%,.3);
    border-radius: 15px;
    padding: 15px;
}

/* Button Checker ON/OFF color */
.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: hsla(0,5%,0%,.3);
}
.themeDefault-24hCdX {
    background-color: hsla(289, 5%, 57%, 0.28);
}

/* Button Checker ON/OFF color BD */
.theme-dark #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background: hsla(0,5%,0%,.3);
}
.theme-dark #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background: hsla(289, 5%, 57%, 0.28);
}
/* Slider bars ON/OFF */
.theme-dark .barFill-23-gu- {
    background: hsla(0,5%,0%,0.90);
}
.theme-dark .bar-2Qqk5Z {
    background: hsla(289, 5%, 57%, 0.1);
}

/* Settings big button */
.theme-dark .cardPrimaryEditable-3KtE4g[style="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218); padding: 10px;"] {
    background-color:hsla(0,5%,0%,.3)!important;
    border: 3px solid hsla(289, 5%, 57%, 0.28)!important;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style='padding: 10px; border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);'] {
    background-color: hsla(0,5%,0%,.3)!important;
    border: 3px solid hsla(360, 0%, 57%, 0.3)!important;
}

/* Settings Big Button Checked box border and color*/
.theme-dark .checked-3_4uQ9 {
    background-color: hsla(0,5%,0%,.3);
    border: 3px solid hsla(289, 5%, 57%, 0.28)!important;
}

/* Settings Big Button Unchecked button border */
.theme-dark .checkbox-1ix_J3 {
    border-color: hsla(289, 5%, 57%, 0.28);
}

/* Settings Notifications option PUSH NOTIFICATIONS border and color */
.theme-dark .select-2TCrqx .Select-menu-outer {
    background:transparent;
    background-color:hsla(0,5%,0%,.7);
    border-color: rgba(32,34,37,.6);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}

/* Settings Notifications option hover PUSH NOTIFICATIONS border and color */
.theme-dark .select-2TCrqx .Select-option.is-focused, .theme-dark .select-2TCrqx .Select-option:hover {
    background: rgba(0,0,0,.3);
    border-color: rgba(32,34,37,.6);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}

/* Settings Notifications option push notifications box color */
.theme-dark .select-2TCrqx .Select-control {
    background: rgba(0,0,0,.3);
    border-color: rgba(32,34,37,.6);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}

/* Settings Overlay Notification color and border and transparency */
.theme-dark .wrapper-3jrx9n {
    background-color:rgba(0,0,0,0.2);
    border: 2px solid hsla(289, 5%, 57%, 0.28);
}
.theme-dark .selected-mKYnfr.option-n0icdO {
    background-color: hsla(289, 5%, 57%, 0.28);
}
.theme-dark .option-n0icdO {
    background-color: hsla(0,5%,0%,.3);
}

/* Settings Game Activity Box */
.theme-dark .user-settings-games .not-detected, .theme-light .user-settings-games .not-detected {
    background-color: hsla(0,5%,0%,.3);
}

/* Changelog Page */
.theme-dark .modal-3HD5ck {
    background-color: hsla(0,5%,0%,.3);
}
.theme-dark .footer-2yfCgX {
    background-color: hsla(0,5%,0%,.3);
}

/* Changelong Behind Transparency */
.theme-dark .backdrop-1wrmKB[Style="opacity: 0.85; background-color: rgb(0, 0, 0); z-index: 1000; transform: translateZ(0px);"] {
    background-color: rgba(0, 0, 0, 0.6)!important;
}

/* Background Changer */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .appMount-3VJmYg {
    background:url('https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Photos-Dark-1920x1080-PIC-WPD009376.jpg');
}

/* Preview box at Voice & Videe at settings, background color */
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC, .userSettingsVoice-iwdUCU .media-engine-video {
    background-color: hsla(0,5%,0%,.3);
}
.theme-dark .lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: hsla(0,5%,0%,.0);
}

/* Voice & Video button of no keybind set Border */
.theme-dark .container-1nZlH6 {
    background-color: hsla(0,5%,0%,.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 15px;
}
.lookGhost-2Fn_0-.colorGrey-2DXtkV {
    background-color: hsla(0,5%,0%,.6);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 15px;
}

/* Keybinds when pressing something to edit color */
.theme-dark .card-FDVird:before {
    background-color: hsla(0,5%,0%,.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 15px;
}
.theme-dark .button-mM-y8i {
    background-color: hsla(0,5%,0%,.3);
}

/* BD Button at TOP */
.theme-dark .bd-pfbtn {
    background: hsla(0,5%,0%,.3);
    border: 3px solid hsla(289, 5%, 57%, 0.28);
}

/* BD Boxes and button*/
.theme-dark .bda-slist li {
    background: hsla(0,5%,0%,.3);
    border: 1px solid hsla(0, 50%, 4%, 0.28);
}
.theme-dark .bda-slist .bda-footer button {
    background: hsla(0,5%,0%,.3);
    border: 3px solid hsla(289, 5%, 57%, 0.28);
}

/* Delete message box */
.theme-dark .message-2qRu38 {
    background-color: hsla(0,5%,0%,.3);
}

/* Removes border of new messages heads up */
.theme-dark .divider-3gKybi:before, .theme-dark .divider-3gKybi span {
    background-color: hsla(0,5%,0%,.3);
    border: 1px solid;
}

/* Voice connected Box */
.theme-dark .container-1UB9sr {
    background: hsla(0,5%,0%,.3);
    border:1px solid #000;
    border-radius: 15px;
}

/* Screen Share Box */
.theme-dark .tiles-2aXG_k {
    background-color: hsla(0,5%,0%,.3);
}

/* Games Page Background */
.theme-dark .activityFeed-28jde9 {
    background-color: transparent;
}

/* Games Page Boxes Background */
.theme-dark .card-7JP0BX {
    background-color: hsla(0,5%,0%,.3);
}
.theme-dark .header-1RC2Wb {
    background-color: hsla(0,5%,0%,.3);
}
.theme-dark .body-SKIE6r {
    background-color: transparent;
}
.theme-dark .header-1RC2Wb:hover {
    background-color: hsla(0,5%,0%,.3);
}
/* Games Page Button normal and Hover */
.theme-dark .headerButtonColor-G7_f-V {
    background: hsla(0,5%,0%,.3);
    border: 3px solid hsla(360, 0%, 57%, 0.3);
}
.theme-dark .theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover, .theme-light .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background-color: hsla(0,5%,0%,.3);
    color: #fff;
}

/*Games Background gradient color */
.theme-dark .article-FleDq5 {
    background-color: hsla(0,5%,0%,.8);
}
.theme-dark .paginationItem-3-MBTL:after {
    background: -webkit-gradient(linear,right top,left top,from(transparent),to(hsla(0,5%,0%,.8)));
    background: linear-gradient(270deg,transparent 0,hsla(0,5%,0%,.8));
}

/* Settings button attach at Custom CSS */
.theme-dark .ui-standard-sidebar-view #editor-detached button {
    background: hsla(0,5%,0%,.3);
    border: 3px solid hsla(360, 0%, 57%, 0.3);
}

/* Upload file background Normal and hover */
.theme-dark .attachPopout-1n-ZKM {
    background-color: hsla(0,5%,0%,.3);
    border: 3px solid #000;
    border-radius: 15px;
}
.theme-dark .attachPopoutRow-KrE-f6:hover {
    background-color: hsla(0,5%,0%,.6);
    border: 3px solid #000;
    border-radius: 15px;
}

/* Emoji page */
.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: hsla(0,5%,0%,.3);
    border: 3px solid #000;
    border-radius: 15px;
}
.bda-dark .emoji-picker .header .search-bar, .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar {
    background-color: hsla(0,5%,0%,.0);
}
.theme-dark .search-bar .search-bar-inner {
    background: hsla(0,5%,0%,.3);
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: transparent;
}
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    background-color: transparent;
}
/* Text color at emoji Page */
.emojiPicker-3m1S-j .category-2U57w6 {
    color: #fff;
}
/* Scroll remove background at Emoji Page */
.theme-dark .bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.theme-dark ::-webkit-scrollbar-thumb:hover, .chat-3bRxxu ::-webkit-scrollbar-thumb:hover {
    background-color: hsla(360, 0%, 57%, 0.3)!important;
}
/* border bottom color at Emoji page */
.theme-dark .emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: hsla(360, 0%, 57%, 0.3)!important;
}

/* Right click menu background and hover*/
.theme-dark.contextMenu-HLZMGh {
    background: hsla(0,5%,0%,.3);
    border: 1px solid #000;
    border-radius: 15px;
}
.theme-dark .itemSubMenu-1vN_Yn:hover, .theme-dark .item-1Yvehc:hover {
    background: hsla(0,5%,0%,.3); url(/assets/e4afe52f6863408a35654a6e5fd69ba9.svg) no-repeat 155px 50%;
}

/* Sent files background and border */
.theme-dark .attachment-33OFj0 {
    background-color: hsla(0,5%,0%,.3);
    border: 1px solid #000;
    border-radius: 15px;
}

/* Menu when pressing arrow at the right of better discord */
.theme-dark .menu-Sp6bN1 {
    background: hsla(0,5%,0%,.3);
	border: 3px solid #000;
	border-radius: 15px;
}
.theme-dark .menu-Sp6bN1 {
    background: hsla(0,5%,0%,.3);
}
.theme-dark .item-1GzJrl:hover {
    background-color: hsla(0,5%,0%,.3);
	border: 1px solid #000;
	border-radius: 15px;
}

/* Top Section Profile */
.theme-dark .topSectionNormal-2-vo2m {
    background-color: hsla(0,5%,0%,.8);
}

/* Bottom Section Profile */
.theme-dark .body-3ND3kc {
    background-color: hsla(0,5%,0%,.8);
}

/* Buttons at Profile Normal and Hover */
.theme-dark .lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: hsla(0,5%,0%,.3);
    border: 3px solid hsla(360, 0%, 57%, 0.3);
}
.theme-dark .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: hsla(0,5%,0%,.4);
	border: 3px solid hsla(360, 0%, 57%, 0.4);
}
.theme-dark .inner-1JeGVc {
    border: 3px solid rgb(0,0,0);
    border-radius: 15px;
}
/* Same buttons but for spotify */
.theme-dark .topSectionSpotify-1lI0-P {
    background: hsla(141, 73%, 42%,.3);!important;
}
/* Same buttons but for Games */
.theme-dark .topSectionPlaying-1J5E4n {
    background: hsla(0,5%,0%,.8);
}

/* Text color on profile */
.theme-dark .userInfoSectionHeader-CBvMDh, .theme-dark .note-3kmerW {
    color: #fff;
}
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
    background-color: transparent;
}

/* Menu when mention someone, background Normal and Hover */
.theme-dark .autocomplete-1vrmpx {
    background-color: hsla(0,5%,0%,.7);
	border: 1px solid #000;
	border-radius: 15px;
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: hsla(0,5%,0%,.4);
}
/* And a fix for padding at this menu on top */
.selector-2IcQBU {
    padding: 9px;
}

/* Menu when mention someone, background Normal and Hover */
.theme-dark .autocomplete-1vrmpx {
    background-color: hsla(0,5%,0%,.7);
	border: 1px solid #000;
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: hsla(0,5%,0%,.4);
}

/*Color of when someones sends a link BOX Transparency and color*/
.theme-dark .embedInner-1-fpTo {
    background-color: hsla(0,5%,0%,.3);
    border-color: rgb(0,0,0);
}

/* Color for the EmbedPill at link BOX*/
.theme-dark .embedPill-1Zntps[style='background-color: rgb(114, 137, 218);'] { 
    background-color: #4f545c!important;
}

/* Upload File Box */
.uploadModal-2ifh8j {
    background-color: hsla(0,5%,0%,.3);
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: hsla(0,5%,0%,.3);
}
.theme-dark .backdrop-1wrmKB[Style="opacity: 0.85; background-color: rgb(0, 0, 0); z-index: 1000; transform: translateZ(0px);"] {
    background-color: rgba(0, 0, 0, 0.1)!important;
}
.theme-dark .inner-zqa7da {
    border: 1px solid rgb(0,0,0);
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
}
.uploadModal-2ifh8j .inner-3nWsbo {
    border: hsla(0,5%,0%,.3);
}
/* Upload File Box Button Color */
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: hsla(0,5%,0%,.3);
	border: 3px solid hsla(360, 0%, 57%, 0.4);
    margin-left: 5px;
}

/* Pinned Messages Page Transparency and border*/
.theme-dark .header-ykumBX {
    background-color: hsla(0,5%,0%,.3);
	border: 3px solid rgb(0,0,0);
	border-radius: 15px;
}
.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: hsla(0,5%,0%,.3);
    border: 3px solid rgb(0,0,0);
	border-radius: 15px;
}
.theme-dark .messageGroupWrapper-o-Zw7G {
    border-radius: 15px;
    background-color: hsla(0,5%,0%,.3);
    border-color: 3px solid rgb(0,0,0);
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    -webkit-box-shadow: 0 0 6px 4px #36393f;
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .jumpButton-3DTcS_ {
    background-color: rgba(28,36,43,75);
    color: hsla(0,0%,100%,.6);
}

/* Friends Page Transparency */
.theme-dark #friends {
    background-color: transparent;
}
.theme-dark .headerBar-UHpsPw {
    background: transparent;
}

/* Friend Page Button Normal and Hover */
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: hsla(0,5%,0%,.3);
	border: 1px solid #000;
	border-radius: 15px;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: hsla(0,5%,0%,.4);
}

/* Friend Page Add friend Button Normal and Hover */
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: hsla(0,5%,0%,.3);
	border: 3px solid hsla(360, 0%, 57%, 0.3);
	border-radius: 15px;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: hsla(0,5%,0%,.4);
    border: 3px solid hsla(360, 0%, 57%, 0.5);
}
/* Friend Page text color of Add Friend button */
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    color: #fff;
}

/* Friend Page backgroundoof Pending button */
.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: hsla(0,5%,0%,.2);
    border: 3px solid hsla(360, 0%, 57%, 0.3);
	border-radius: 15px;
    color: #fff;
}
/* Another background of add friend page */
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    background-color: transparent;
    color: #fff;
}

/* another add friend page // more stuff */
.theme-dark .wrapper-1cBijl {
    background-color: rgba(36,39,43,.2);
    border-color: rgba(0,0,0,.3);
    border-radius: 15px;
}
.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-add-header {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(54, 57, 63, 0.78)),to(rgba(47, 49, 54, 0.75)));
    background: linear-gradient(-180deg,rgba(54, 57, 63, 0.12),rgba(47, 49, 54, 0));
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-radius: 15px;
}

/* Remove transparency of call */
.video-1FfuMD, .theme-dark .wrapper-29NfPK {
    background-color: hsla(0,5%,0%,.1);
}
.theme-dark .wrapper-29NfPK {
	border: 3px solid rgb(0,0,0);
	border-radius: 15px;
}
.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
    background-color: transparent;
    border-color: #18191c;
}

/* RTC Connection Page Transparency and border*/
.theme-dark .container-2x5lvQ header {
    background-color: hsla(0,5%,0%,.8);
}
.theme-dark .container-2x5lvQ section {
    background-color: hsla(0,5%,0%,.8);
}
.container-2x5lvQ {
    border: 3px solid rgb(0,0,0);
	border-radius: 15px;
}

/* Friend Request box Transparency */
.theme-dark #friends .friends-table .friends-row:hover {
    background: hsla(0,5%,0%,.3);
    border-radius: 15px;
}

/* Friend Request Button Color */
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: hsla(0,5%,0%,.6);
}

/* Removes a border from Find or start a conversation menu */
.theme-dark .inner-1JeGVc {
    border: none;
}

/* Adds transparency to Find or start a conversation menu */
.theme-dark .quickswitcher-3JagVE {
    background-color: hsla(0,5%,0%,.6);
}

/* Find or start a conversation Menu Buttons */
.quickswitcher-3JagVE {
	border: 3px solid hsla(0,5%,0%,.3);
    box-shadow: none;
}
.theme-dark .input-2VB9rf {
    background-color: hsla(0,5%,0%,.6);
    box-shadow:none;
    border: 3px solid rgb(0,0,0);
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    -webkit-box-shadow: inset 0 -4px 0 rgba(35,39,42,.3);
    background-color: rgba(32,34,37,.6);
    border: 1px solid #202225;
    box-shadow: inset 0 -4px 0 rgba(35,39,42,.3);
}

/* Search Button Menus */
.theme-dark .searchPopout-1vUlP3 {
    background-color: hsla(0,5%,0%,.3);
    border: 3px solid rgb(0,0,0);
	border-radius: 15px;
}
/* Search button menus Hover */
.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: hsla(0,5%,0%,.6);
	border: 1px solid rgb(0,0,0);
	border-radius: 15px;
}

/* Little box when selecting category of search */
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: hsla(0,5%,0%,.3);
	text-align: center;
	border: 3px solid rgb(0,0,0);
	height: 12px;
	position: relative;
	left: 1px;
    top: 1px;
	padding: -1px;
	text-align: center;
}
.theme-dark .search .DraftEditor-root .public-DraftStyleDefault-block span {
    line-height: 14px;
    border-radius: 15px;
}
/* 'From' page menu */
.theme-dark .search-results-wrap {
    background-color: hsla(0,5%,0%,.3);
	border: 3px solid rgb(0,0,0);
	border-radius: 15px;
}
/* 'From' page menu search top */
.theme-dark .search-results-wrap .search-header {
    box-shadow: 0 2px 0 rgba(0,0,0,.9);
    background: transparent;
    background-color: hsla(0,5%,0%,.3);
}
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: hsla(0,5%,0%,.3);
    color: #fff;
}
.theme-dark .search-results-wrap .search-result:after {
    background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,5%,0%,.3)),to(hsla(0,5%,0%,.3)));
    background-image: linear-gradient(180deg,rgba(47,49,54,0),hsla(0,5%,0%,.3));
}
.theme-dark .search-results-wrap .search-result .hit {
    -webkit-box-shadow: 0 0 10px 6px hsla(0,5%,0%,.3);
    background-color: hsla(0,5%,0%,.3);
    box-shadow: 0 0 10px 6px hsla(0,5%,0%,.3);
}
.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    border: 2px solid rgb(0,0,0);
    border-radius: 15px;
    padding: 1px;
}
.theme-dark .search-results-wrap .action-buttons .jump-button {
    background-color: hsla(0,5%,0%,0.5);
    color: hsla(0,0%,100%,.6);
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background-color: hsla(0,5%,0%,.3);
    border-bottom: 3px solid rgb(0,0,0);
    border-top: 3px solid rgb(0,0,0);
}
.theme-dark .search-results-wrap .search-result.expanded {
    border: 3px solid rgb(0,0,0);
	border-radius: 15px;
}

/* New Message warning and older message warning */
.theme-dark .newMessagesBar-mujexs {
    background-color: hsla(0,5%,0%,.3);
	border: 1px solid rgb(0,0,0);
    border-radius: 3px;
}
.theme-dark .jumpToPresentBar-9P20AM {
    background-color: hsla(0,5%,0%,.3);
	border: 1px solid rgb(0,0,0);
    border-radius: 3px;
}

/* Blocked Messages Extended Mode*/
.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    background: hsla(0,5%,0%,.3);
}
.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf {
    background: hsla(0,5%,0%,.3);
    border-color: rgb(0,0,0);
	border-radius: 5px;
}

/* Blocked Messages hover while extended */
.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover {
    background: hsla(0,5%,0%,.2);
}

/* Blocked Messages */
.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-, .theme-dark .messageGroupBlocked-3wrQQX {
    background: hsla(0,5%,0%,.3);
	border-color: rgb(0,0,0);
}

/* No text channels menu */
.theme-dark .noChannel-Z1DQK7 {
    background: hsla(0,5%,0%,.3);
}

/* Opening files border */
.theme-dark .inner-1JeGVc {
    background-color: hsla(0,5%,0%,.3);
    border: 3px solid hsla(360, 0%, 57%, 0.3);
}

/* Quick Switch Menu  Transparent and border*/
.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4 {
	background-color: hsla(0,5%,0%,.3);
    border: 3px solid hsla(360, 0%, 57%, 0.3);
	border-radius: 15px;
}
/* Quick Switch Menu Button and Border */
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u {
    background-color: hsla(0,5%,0%,.3);
    border: 3px solid hsla(360, 0%, 57%, 0.3);
	border-radius: 15px;
}

/* Emoji Area */
.emojiPicker-3m1S-j, .category-2U57w6, .emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: rgba(0,0,0,0.0);
    color: #ffffff;
}
.emojiPicker-3m1S-j {
    background: rgba(0,0,0,0.7);
}
#bda-qem button:hover {
    background: hsla(0,5%,0%,.6);
}
.search-bar.search-bar-light {
    background: rgba(0,0,0,0.0);
}
.search-bar.search-bar-light .search-bar-inner {
    background: rgba(0,0,0,0.5);
}
#bda-qem button {
    background: rgba(0,0,0,0.7);
    border-left: 1px solid #101113;
    box-shadow: #101113 1px 0 0 0;
    color: #fff;
}
#bda-qem {
    background: transparent;
    color: #fff;
}
#bda-qem button.active {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
#bda-qem-twitch-container, #bda-qem-favourite-container {
        background: rgba(0,0,0,0.5);
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    border: 2px solid #000;
    background-color: rgba(47, 47, 47, 0.56);
}
.popoutTop-3uu9vG.noArrow-3BYQ0Z, .popoutTopRight-3BzFIE.noArrow-3BYQ0Z {
    border: 2px solid #2a2c31;
    margin-bottom: 10px;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: #3a3a3a;
}
/* scroll bars */
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece, .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-clip: padding-box;
    background-color: rgba(23, 23, 25, 0.7);
}
#bda-qem-twitch-container .scroller::-webkit-scrollbar,  #bda-qem-twitch-container .scroller::-webkit-scrollbar-track,  #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece,  #pubs-container .scroller::-webkit-scrollbar,  #pubs-container .scroller::-webkit-scrollbar-track,  #pubs-container .scroller::-webkit-scrollbar-track-piece {
    background-color: hsla(0,5%,0%,.1) !important;
    border-color: #303030 !important;
}
.scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #545556;
}

/* BOT Tag color and transparency */
.theme-dark .botTagRegular-2HEhHi {
    background: hsla(360, 0%, 57%, 0.3);
    color: #fff;
}
/* When mentioned box and left border color and transparency */
.theme-dark .isMentioned-N-h9aa {
    background: rgba(26, 228, 250, 0.03);
}
.theme-dark .isMentionedCozy-3isp7y:after {
    background: transparent;
    border-left: 4px solid rgb(26, 250, 226);
}

/* Startup errors page Adding transparency and border*/
.theme-dark .footer-2yfCgX {
    background-color: hsla(0,5%,0%,.7);
}
.bd-modal-wrapper .bd-modal-body {
    background-color: hsla(0,5%,0%,.7);
}
.bd-modal-wrapper .header {
    background-color: hsla(0,5%,0%,.7);
}
.inner-1JeGVc {
    border: 3px solid hsla(0, 3%, 27%, 0.3);
}

/* Startup error page Button Normal and Hover */
.bd-modal-wrapper .footer button {
    background-color: hsla(0,5%,0%,.3);
    border: 3px solid hsla(360, 0%, 57%, 0.3);
}
.bd-modal-wrapper .footer button:hover {
    background-color: hsla(0,5%,0%,.4);
	border: 3px solid hsla(360, 0%, 57%, 0.4);
}

/* Mention name text color Normal and Hover and background color */
.theme-dark .wrapper-3WhCwL {
	background-color: rgba(114, 218, 130, 0.1);
    color: #00ff8b;
}
.theme-dark .isMentioned-N-h9aa .mention:hover, .theme-light .isMentioned-N-h9aa .mention:hover {
	background-color: rgba(114, 218, 121, 0.7);
    color: #12bf71;
}

/* Invalid Invite boxes Transparency and icon transparency */
.theme-dark .wrapper-35wsBm {
    background: hsla(0,5%,0%,.3);
    border-color: rgba(0, 0, 0, 0.9);
}
.theme-dark .guildIconExpired-2Qcq05 {
    background-color: hsla(0,5%,0%,.3);
}

/* new message box */
.wrapper-232cHJ {
    background-color: #12bf71;
}
/* store background removal */
.da-app .applicationStore-1pNvnv {
    background:none;
}
.theme-dark .inner-zqa7da, .da-app .container-2Thooq {
    background-color: hsla(0,5%,0%,.3)!important;
}
