/* borda de quando ta conectado em voice channel */
.container-1UB9sr {
    border: 1px solid #36393f;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
	background-color: rgba(144, 144, 144, 0.50);
}
.theme-dark .quickMessage-1yeL4E {
	background-color: #696767;
	border-color: #cacaca;
}
.headerPlaying-j0WQBV {
    background: rgba(114, 155, 218, 0.6);
    border: 1px solid;
    border-color: rgb(42, 143, 177);
}
.theme-dark .headerNormal-T_seeN {
    background-color: #909090;
}
.headerSpotify-zpWxgT {
    background: rgba(29, 185, 84, 0.6);
    border: 1px solid #06e206;
}
/* fonte */
div>*:not(code) {
	font-family: 'Karla',Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
}

/* any other code write below */

/* Discord Guild Icon */
.theme-dark .homeIcon-1FoKUJ {
	background: var(--background-guild-icon-image);
	color: transparent;
}
/* remover background do discord logo */
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4[style*="background-color: rgb(114, 137, 218);"] {
	background-color: transparent!important;
}

/* muitos lugares para o cinzento */
.channel-2QD9_O.selected-1HYmZZ a, .side-8zPYf6 .itemSelected-1qLhcL, .lookFilled-1Gx00P.colorBrand-3pXr91, .app #bd-settings-sidebar .ui-tab-bar-item.selected, .bd-pfbtn, .bda-slist .bda-footer button, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ, .barFill-23-gu-, .lookFilled-1Gx00P.colorBrand-3pXr91:disabled, .theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3, .app .guild-1EfMGQ .guildInner-3DSoA4, .theme-dark .footer-2yfCgX,
.themeDefault-24hCdX.valueChecked-m-4IJZ, .selected-mKYnfr.option-n0icdO, .theme-dark.contextMenu-HLZMGh, .theme-dark .messageGroupWrapper-o-Zw7G, .contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM, .theme-dark .topSectionNormal-2-vo2m
 {
	background-color: var(--button);
}
/* Hover mode */
.channel-2QD9_O.selected-1HYmZZ a, .channel-2QD9_O:hover a, .app .side-8zPYf6 .itemDefault-3Jdr52:hover, .app #bd-settings-sidebar .ui-tab-bar-item:hover, .theme-dark .attachPopoutRow-KrE-f6:hover, .theme-dark .option-96V44q.selected-rZcOL-,
.app .selectorSelected-1_M1WV, .theme-dark .item-1GzJrl:hover, .option-n0icdO:hover, .contentHoveredText-2D9B-x {
	background-color: rgba(144, 144, 144, 0.5);
}
/* grey border */
.wrapper-3jrx9n {
	border-color: var(--button);
}
.theme-dark .itemSubMenu-1vN_Yn:hover, .theme-dark .item-1Yvehc:hover {
	background-color: #5f5f5f;
}
/* o slider, parte cinzenta */
.theme-dark .bar-2Qqk5Z {
    background: rgba(79, 84, 92, 0.3);
}

/* botoes grandes das definicoes */
.app .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
	background-color: var(--button)!important;
	border-color: #cacaca!important;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
	border-color: var(--button)!important;
	background-color: #cacaca!important;
}
/* checker button desligado */
.themeDefault-24hCdX {
    background-color: rgba(25, 23, 23, 0.4);
}

/* area de preview de difinicoes */
.app .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: rgba(144, 144, 144, 0.25);
    border-color: #4a4a4a;
}

/* checked tick */
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] {
	border-color: #cacaca!important;
	background-color: #cacaca;
}
.theme-dark .checked-3_4uQ9 svg[name="Checkmark"] polyline {
	stroke: var(--button); stroke-width: 2;
}
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] {
	border-color: #ababab!important;
	background-color: #cacaca;
}
.theme-dark .checked-3_4uQ9 svg[name="Checkmark"] polyline {
	stroke: var(--button); stroke-width: 2;
}

/* a cor da caixa de mensagens */
.app .inner-zqa7da {
    background-color: rgba(19, 18, 18, 0.57);
	border: 1px solid var(--button);
}

/* cor para as guilds */
.app .guildsAdd-21_IdK {
	background-color: var(--button)!important;
}

/* area de upload de ficheiros */
.uploadModal-2ifh8j {
    background-color: rgba(144, 144, 144, 0.6);
}
.uploadModal-2ifh8j .footer-3mqk7D, .uploadModal-2ifh8j .footer-3mqk7D .button {
	background-color: #909090;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary, .theme-dark .jumpButton-3DTcS_ {
    background-color: #7d7b7b;
    color: #ffffff;
}
.uploadModal-2ifh8j .inner-3nWsbo {
    border: 2px dashed #909090;
}
.theme-brand .inner-zqa7da {
	background: #909090;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    border: 2px solid #909090;
}

/* O attach posicao */
.theme-dark .attachPopout-1n-ZKM {
    top: 85%;
    position: relative;
    padding: 0;
    left: 331px;
    width: 1570px;
}

/* imagem svg do upload */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.webcode-22GGLX {
    background-image: url(https://svgur.com/i/90K.svg);
}

/* upload file background color and hover */
.theme-dark .attachPopout-1n-ZKM, .theme-dark .container-3ayLPN, .app .autocomplete-1vrmpx, .app .messagesPopoutWrap-1MQ1bW, .theme-dark .menu-Sp6bN1, .theme-dark .modal-3HD5ck, .theme-dark .messagesPopoutWrap-1MQ1bW, .theme-dark .body-3ND3kc {
    background-color: rgba(144, 144, 144, 0.5);
}
.theme-dark .option-96V44q:after {
	display:none;
}

/* fonte de texto cor cinzenta mais claro */
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    color: #909192;
}
.theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8, .theme-dark .descriptionDiscriminator-3vUOCc, .wrapper-2NJDcI {
	color: #d8d8d8;
}

/* scrollbar */
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: rgba(76, 76, 76, 0.1);
    border-color: transparent;
}
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb, .scroller-wrap.dark .scroller::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-color: #777676;
}

.app .search .search-bar {
    background-color: hsla(0, 0%, 100%, 0.11);
    border: 1px solid #909090;
}

/* mentions page */
.theme-dark .header-ykumBX {
    background-color: var(--button);
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: #5a5959!important;
}

.theme-dark .footer-1kmXd4 {
	background: none;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    -webkit-box-shadow: none;
    background-color: transparent;
    box-shadow: none;
}

/* um outro cinzento para BOT e numero de pessoas em canal Tag*/
.botTagRegular-2HEhHi, .wrapper-2NJDcI {
    background: #5c5e65;
}

/* quando leva mention normal e hover */
.theme-dark .wrapper-3WhCwL {
    background-color: rgba(172, 173, 175, 0.28);
    color: #fff;
}
.theme-dark .wrapperHover-1GktnT:hover {
    background-color: #909090;
    color: #fff;
}
