//META{"name":"Blue Space","description":"Stars background with a beautiful blue-green coloring","author":"Ruben7173","version":"1.1"}*//{}

@import url(https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/blue-space/code.css);

/* To change background */
.appMount-3VJmYg {
	background: url(https://images4.alphacoders.com/325/32596.jpg) center/cover no-repeat}
	/* default wall https://images4.alphacoders.com/325/32596.jpg */

/* Discord Guild Icon */
.theme-dark .homeIcon-1FoKUJ {
	background: url(https://i.imgur.com/mabl6hm.png) center/cover no-repeat;
	color: transparent;
}

	/* controls whole transparency NOTE: some transparency is seperated and is in the code below */
.app .chat-3bRxxu, .app .guildsWrapper-5TJh6A, .private-channels, .scroller-2wx7Hm, .feed-1o0xmF, .header-2o-2hj, .app .noChannel-Z1DQK7, .popout-open .header-2o-2hj,
 .theme-dark .ui-standard-sidebar-view .content-region, .theme-dark .ui-standard-sidebar-view .sidebar-region, #friends .friends-table, .privateChannels-1nO12o, .app .applicationStore-1pNvnv, .app .gameLibrary-TTDw4Y, .app .headerBar-UHpsPw {
	background-color: rgba(0,0,0,0.4)!important;
}
	/* channel bottom part transparency since some people like it seperated */
.app .container-2Thooq, .theme-light .container-2Thooq {
    background: rgba(0,0,0,0.4);
}
	/* Windows Bar Transparency levels */
.typeWindows-1za-n7 {
    background-color: rgba(0,0,0,0.4);
    margin-top: 1px;
	padding: 1px;
}