::selection {background:var(--main-color) !important;}
/*
/$$$$$$$                      /$$             /$$      /$$             /$$     /$$
| $$__  $$                    | $$            | $$$    /$$$            | $$    | $$
| $$  \ $$  /$$$$$$   /$$$$$$ | $$   /$$      | $$$$  /$$$$  /$$$$$$  /$$$$$$ /$$$$$$    /$$$$$$   /$$$$$$
| $$  | $$ |____  $$ /$$__  $$| $$  /$$/      | $$ $$/$$ $$ |____  $$|_  $$_/|_  $$_/   /$$__  $$ /$$__  $$
| $$  | $$  /$$$$$$$| $$  \__/| $$$$$$/       | $$  $$$| $$  /$$$$$$$  | $$    | $$    | $$$$$$$$| $$  \__/
| $$  | $$ /$$__  $$| $$      | $$_  $$       | $$\  $ | $$ /$$__  $$  | $$ /$$| $$ /$$| $$_____/| $$
| $$$$$$$/|  $$$$$$$| $$      | $$ \  $$      | $$ \/  | $$|  $$$$$$$  |  $$$$/|  $$$$/|  $$$$$$$| $$
|_______/  \_______/|__/      |__/  \__/      |__/     |__/ \_______/   \___/   \___/   \_______/|__/
                                       Base File by ngld
	       			 Fork by Ruben7173 & Tropical

TABLE OF CONTENTS


1. Guilds Area
	1.a. Add/Create Guilds Button
	1.b. Outages
	1.c. Tooltips

2. Titlebar
  2.a. Main Titlebar

3. Settings
	3.a. Sidebar Area
        3.b. Close Button

4. Private Channels
	4.a. Search Bar
	4.b. Store
	4.c. Activity Tab
	4.d. Library
	4.e. Friends List
	4.f. Selected and Hovered Content

5. Channels List
	5.a. Selected and Hovered Content
	5.b. Server Header

6. Chat Area
	6.a. Has More Button
	6.b. New Messages Bar
	6.c. Send Messages Area
	6.d. Emoji Picker
	6.e. Loading Animations
	6.f. No Channel

7. Members List
	7.a. User Popouts
	7.b. Selected and Hovered Content
*/

/*1. Guilds Area*/
/*1.a. Add/Create Guilds Button*/
.theme-dark .guildsAdd-21_IdK {
	border:none !important;
	background:rgba(255,255,255,0.2) !important;
	color:white !important;
}

/*1.b. Outages*/
.theme-dark .guildsError-3cFMtY {
	width:40px;
	height:40px;
}

/*1.c. Tooltips*/
.tooltip {background: rgba(0,0,0,0.7) !important;}
.tooltip.tooltip-right:after {border-right-color: rgba(0,0,0,0.7) !important;}
.tooltip.tooltip-top:after {border-top-color: rgba(0,0,0,0.7) !important;}
.tooltip.tooltip-left:after {border-left-color: rgba(0,0,0,0.7)) !important;}
.tooltip.tooltip-bottom:after {border-bottom-color: rgba(0,0,0,0.7) !important;}
.tooltips .tooltip.tooltip-right {animation: faderight 150ms;}
.tooltips .tooltip.tooltip-bottom {animation: fadebottom 150ms;}
.tooltips .tooltip.tooltip-left {animation: fadeleft 150ms;}
.tooltip.tooltip-top {animation: fadetop 150ms;}
@keyframes fadetop {0% {opacity: 0;transform: translateY(-50%);}100% {opacity: 0.9;transform: none;}}
@keyframes faderight {0% {opacity: 0;transform: translateX(50%);}100% {opacity: 0.9;transform: none;}}
@keyframes fadebottom {0% {opacity: 0;transform: translateY(50%);}100% {opacity: 0.9;transform: none;}}
@keyframes fadeleft {0% {opacity: 0;transform: translateX(-50%);}100% {opacity: 0.9; transform: none;}}
/*============== END OF SECTION ============== */

/*2. Titlebar*/
/*2.a. Main Titlebar*/
#app-mount {background:url(https://i.imgur.com/7SbtKvw.png) !important;}
#app-mount:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.8);}
/*============== END OF SECTION ============== */

/*3. Settings*/
/*3.a. Sidebar Area*/
.lookFilled-1Gx00P {background:var(--main-color) !important;}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected { /*Fixes Blurple Area in BBD settings*/
    background:var(--main-color) !important;
    color:#fff !important;
}
/*3.b. Close Button*/
.keybind-KpFkfr {display:none;}
.closeButton-1tv5uR {transition:linear 200ms all;}
.closeButton-1tv5uR:hover {
    transform:scale(1.19);
    background:var(--main-color-faded) !important;
	border-color:var(--main-color) !important;}
/*============== END OF SECTION ============== */

/*4. Private Channels*/
/*4.a. Search Bar*/
.searchBar-6Kv8R2 {box-shadow:none !important;}
.app .search-bar-inner,
.search-bar {
	background:transparent !important;
	border:none !important;
}
/*4.b. Store*/
.app .da-tile {background-color: rgba(0,0,0,0.7)!important;}
.app .da-exclusiveRegular {background-image: linear-gradient(90deg,var(--main-color),#a6dcf4)!important;}
.app .da-exclusiveRegular::before {display:none!important;}
.app .overlappingBorder-1ysb12, .emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {border-color: var(--accent-color)!important;}
.theme-dark .itemBackground-1jfD8p:before{background:transparent !important;}
.content-35aVm0,
.root-1bFE0x,
.bodySection-jqkkIP,
.theme-dark .row-1bU71H,
.theme-dark .card-NB61oR{
    background:rgba(0,0,0,0.7) !important;
}
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before {
    background:var(--main-color) !important;
}
.theme-dark .itemBackground-1jfD8p {border-radius:20px;}
.purchaseUnitOperatingSystem-cnbJPz {color:var(--main-color) !important;}
.overlappingBorder-1-XPGl {border-color:var(--main-color) !important;}
.theme-dark .checked-3_4uQ9 {background:var(--main-color) !important;}
.footer-3oZnEF {
    opacity:.6 !important;
    background:url(/assets/72e1fd085e240aecf005e642e655c0f4.svg) no-repeat bottom,none !important;
}
.optionActive-KkAdqq {background:rgba(0,0,0,0.7);}
.optionFocused-8MflSE {background:rgba(0,0,0,0.5);}
.theme-dark .popout-2sKjHu {background:rgba(0,0,0,0.6);}
.theme-dark .mediaFade-1SdEfL {
    background:linear-gradient(180deg,transparent 90%,rgba(0,0,0,0.7)) !important;
}
.theme-dark .description-3rB3Rp {
background:linear-gradient(180deg,transparent,rgba(32,34,37,.75) 45%,rgba(0,0,0,0.7)) !important;
}
.popout-2xBvMR {
    background:url(https://i.imgur.com/7SbtKvw.png);
    background-position:right;
}
/*4.c. Activity*/
.theme-dark .paginationItem-2lUq0s:after {background:linear-gradient(270deg,transparent 0,rgba(0,0,0,0.8)) !important;}
.theme-dark .dockItem-2kQDqg:hover {background:rgba(255,255,255,0.03) !important;}
.theme-dark .card-7JP0BX, .newsLink-38Naqi {background:transparent !important;}
.paginationItem-2lUq0s:before {background:var(--main-color) !important;}
.carousel-2WxMes,
.article-3BkSTW,
.theme-dark .header-1RC2Wb {
    background:rgba(0,0,0,0.8) !important;
}

/*4.d. Library*/
.stickyScroller-24zUyY {background:rgba(0,0,0,0.7) !important;}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {background:rgba(255,255,255,0.1)}
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark .header-39GIC8 {
	background:transparent !important;
}
.body-1SVoBw {background:rgba(0,0,0,0.6) !important;}
.gamePreview-9weYR2 {
    box-shadow:none;
    background:url("https://i.imgur.com/7SbtKvw.png");
}
/*4.e. Friends List*/
.theme-dark #friends {background:transparent !important;}
.theme-dark .headerBar-UHpsPw {background:rgba(0,0,0,0.7);}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {background:var(--main-color);}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {background:rgba(255,255,255,.1);}
.theme-dark #friends .tab-bar .tab-bar-item.selected,
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background:var(--main-color-faded);
    color:#fff;
    transition:100ms all linear;
}

/*4.f. Selected and Hovered Content*/
.da-selected a {background-color: rgba(0,0,0,0.7) !important;}
.da-channel:hover a {background-color: rgba(255,255,255,0.03);}
/*============== END OF SECTION ============== */

/*5. Channels List*/
/*5.a. Selected and Hovered Content*/
.channels-Ie2l6A .content-20Aix8 {border-radius:5px !important;}
.channels-Ie2l6A .content-20Aix8:hover {background:rgba(0,0,0,0.4) !important;}
.contentSelectedText-3wUhMi {background:rgba(0,0,0,0.8) !important;}

/*5.b. Server Header*/
.header-2o-2hj {
	background:transparent;
	border:none !important;
	box-shadow:none !important;
}
/*5.c. Account Details Container*/
.button-2b6hmh {margin:0;}
.container-2Thooq {
	width: 286px;
	height:78px !important;
	margin-left: -71px;
	bottom: -1px;
	position: fixed;
	background:rgba(0,0,0,0.9) !important;
}
.theme-dark .guildsWrapper-5TJh6A, .channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr {
    height: calc(100vh - 100px);
}
/*============== END OF SECTION ============== */

/*6. Chat Area*/
/*6.a. Has More Button*/
.theme-dark .hasMore-3e72_v button{
	background:rgba(255,255,255,0.06) !important;
	color:var(--main-color) !important;
	border:none !important;
}

/*6.b. New Messages Bar*/
.newMessagesBar-mujexs {background:var(--main-color);}
.newMessagesBar-mujexs button:last-child {color:#fff !important;}
.newMessagesBar-mujexs:hover {background:var(--main-color-faded);}

/*6.c. Send Messages Area*/
.theme-dark .attachButtonDivider-3Glu60 {display:none;}.button-2b6hmh {margin:0;}

/*6.d. Emoji Picker*/
#bda-qem button {color: #a3a3a3;}
.emojiPicker-3m1S-j {background-color: rgba(0,0,0,0.95) !important;}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {background: hsla(0, 0%, 5%, 0.95);}
.app .search-bar-inner {background-color: rgba(255,255,255,0.1) !important;}
#bda-qem button {border-left: 1px solid #262829!important;}
.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: rgba(23, 22, 22, 0.4)!important;
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
	background-color: rgba(255, 255, 255, .1)!important;
}
#bda-qem button.active {
    background: rgba(0, 0, 0, 0.95) !important;
    border: 1px solid #262626;}
/*6.e. Loading Animations*/
.spinner-pulsing-ellipsis .spinner-item,
.spinner-wandering-cubes .spinner-item,
.chat-3bRxxu .newMessagesBar-mujexs {
  background-color: var(--main-color) !important;
}

/*6.f. No Channel*/
.theme-dark .noChannel-Z1DQK7 {
    background:transparent;
}
/*============== END OF SECTION ============== */

/*7. Members List*/
/*7.a. User Popouts*/
.userPopout-3XzG_A .header-2BwW8b:after {display:none;}
.headerPlaying-j0WQBV {background:var(--main-color) !important;}
.body-3iLsc4,
.footer-1fjuF6 {
	background:rgba(0,0,0,0.7) !important;
	border:none !important;
}
.userPopout-3XzG_A .nameTag-m8r81H .game,
.userPopout-3XzG_A .nameTag-m8r81H:not(.headerTagNoNickname-ENx6no) .discriminator,
.userPopout-3XzG_A .nameTag-m8r81H:not(.headerTagNoNickname-ENx6no) .username {
	color:white !important;
}
.headerNormal-T_seeN {
	background:rgba(255,255,255,0.001) !important;
	border:none !important;
}
.userPopout-3XzG_A {
	background:url(https://i.imgur.com/7SbtKvw.png);
	background-position:right;
}
.theme-dark .quickMessage-1yeL4E {
	background:rgba(255,255,255,0.05);
	border:none !important;
}
/*7.b. Selected and Hovered Content*/
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {background:rgba(255,255,255,0.01) !important;}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4 {background:rgba(255,255,255,0.07);}
