::selection {background:var(--main-color) !important;}
/*
/$$$$$$$                      /$$             /$$      /$$             /$$     /$$
| $$__  $$                    | $$            | $$$    /$$$            | $$    | $$
| $$  \ $$  /$$$$$$   /$$$$$$ | $$   /$$      | $$$$  /$$$$  /$$$$$$  /$$$$$$ /$$$$$$    /$$$$$$   /$$$$$$
| $$  | $$ |____  $$ /$$__  $$| $$  /$$/      | $$ $$/$$ $$ |____  $$|_  $$_/|_  $$_/   /$$__  $$ /$$__  $$
| $$  | $$  /$$$$$$$| $$  \__/| $$$$$$/       | $$  $$$| $$  /$$$$$$$  | $$    | $$    | $$$$$$$$| $$  \__/
| $$  | $$ /$$__  $$| $$      | $$_  $$       | $$\  $ | $$ /$$__  $$  | $$ /$$| $$ /$$| $$_____/| $$
| $$$$$$$/|  $$$$$$$| $$      | $$ \  $$      | $$ \/  | $$|  $$$$$$$  |  $$$$/|  $$$$/|  $$$$$$$| $$
|_______/  \_______/|__/      |__/  \__/      |__/     |__/ \_______/   \___/   \___/   \_______/|__/
                                       Base File by ngld
	       			 Fork by Ruben7173 & Tropical

TABLE OF CONTENTS


1. Guilds Area
	1.a. Add/Create Guilds Button
	1.b. Outages
	1.c. Tooltips

2. Titlebar
  2.a. Main Titlebar

3. Settings
	3.a. Sidebar Area
        3.b. Close Button
	3.c. Checkboxes, Sliders, etc..
	3.d. Server Settings
	3.e. My Account Tab
	3.f. Privacy Tab
	3.g. Billing Tab
	3.h. Discord Nitro Tab
	3.i. Voice and Video Tab
	3.j. Overlay Tab
	3.k. Game Activity Tab
	3.l. Library Tab
	3.m. Better Discord Themes & Plugins Area

4. Private Channels
	4.a. Search Bar
	4.b. Store
	4.c. Activity Tab
	4.d. Library
	4.e. Friends List
	4.f. Selected and Hovered Content

5. Channels List
	5.a. Selected and Hovered Content
	5.b. Server Header

6. Chat Area
	6.a. Has More Button
	6.b. New Messages Bar
	6.c. Send Messages Area
	6.d. Emoji Picker
	6.e. Loading Animations
	6.f. No Channel
	6.g. Embeds
	6.h. Tags
	6.i. Jump To Present

7. Members List
	7.a. Selected and Hovered Content
	7.b. User Status

8. Popups, Modals and Dropdowns
	8.a. Status Picker
	8.b. Pinned Messages & Recent Mentions
	8.c. Search Popout
	8.d. Find/Start a Conversation
	8.e. Add/Create Guilds Modal
	8.f. Greeting Message
	8.g. BetterDiscord Error Modal
	8.h. Upload Modal
	8.i. Server Dropdown
	8.j. Screenshare Modal
	8.k. RTC Connection Popout
	8.l. User Popouts

9. Calls
	9.a. General Voice Call Area
*/

/*1. Guilds Area*/
/*1.a. Add/Create Guilds Button*/
.theme-dark .guildsAdd-21_IdK {
	border:none !important;
	background:rgba(255,255,255,0.2) !important;
	color:white !important;
}

/*1.b. Outages*/
.theme-dark .guildsError-3cFMtY {
	width:40px;
	height:40px;
}

/*1.c. Tooltips*/
.tooltip {background: rgba(0,0,0,0.7) !important;}
.tooltip.tooltip-right:after {border-right-color: rgba(0,0,0,0.7) !important;}
.tooltip.tooltip-top:after {border-top-color: rgba(0,0,0,0.7) !important;}
.tooltip.tooltip-left:after {border-left-color: rgba(0,0,0,0.7)) !important;}
.tooltip.tooltip-bottom:after {border-bottom-color: rgba(0,0,0,0.7) !important;}
.tooltips .tooltip.tooltip-right {animation: faderight 150ms;}
.tooltips .tooltip.tooltip-bottom {animation: fadebottom 150ms;}
.tooltips .tooltip.tooltip-left {animation: fadeleft 150ms;}
.tooltip.tooltip-top {animation: fadetop 150ms;}
@keyframes fadetop {0% {opacity: 0;transform: translateY(-50%);}100% {opacity: 0.9;transform: none;}}
@keyframes faderight {0% {opacity: 0;transform: translateX(50%);}100% {opacity: 0.9;transform: none;}}
@keyframes fadebottom {0% {opacity: 0;transform: translateY(50%);}100% {opacity: 0.9;transform: none;}}
@keyframes fadeleft {0% {opacity: 0;transform: translateX(-50%);}100% {opacity: 0.9; transform: none;}}
/*============== END OF SECTION ============== */

/*2. Titlebar*/
/*2.a. Main Titlebar*/
.titleBar-AC4pGV {
  transform: translateY(-6px);
  height: 0px;
  margin-top: 0px;
}
.winButton-iRh8-Z {
  top: 9px;
  height: 36px;
  width: 30px;
  right: 8px;
  background-position: center;
  opacity: .6;
}
.winButton-iRh8-Z:hover {
  transition: all .2s ease-in-out;
  background-color: var(--main-color) !important;
  border-radius: 5px;
  opacity: 1 !important;
}
.titleBar-AC4pGV .winButtonClose-1HsbF- {
	background-image: url(https://ruben7173.github.io/BetterDiscord-Themes/Fixed-Themes-Misc/assets/close.svg) !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
}
.titleBar-AC4pGV .winButton-iRh8-Z:nth-child(3) {
	background-image: url(https://ruben7173.github.io/BetterDiscord-Themes/Fixed-Themes-Misc/assets/maximize.svg) !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
}
.titleBar-AC4pGV .winButton-iRh8-Z:nth-child(4) {
	background-image: url(https://ruben7173.github.io/BetterDiscord-Themes/Fixed-Themes-Misc/assets/minimize.svg) !important;
	background-repeat: no-repeat;
	background-position: center 7px;
	background-size: 24px;
}
.titleBar-AC4pGV rect, .wordmark-2iDDfm, .winButton-iRh8-Z svg {
	display: none;
}
.titleBar-AC4pGV:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 6px;
  height: 14px;
  z-index: 3002;
  -webkit-app-region: drag !important;
  pointer-events: none;
}
.titleWrapper-1l0xT9 .flex-1xMQg5 .flex-1xMQg5, #friends .flex-1xMQg5 .flex-1xMQg5,
.activityFeed-28jde9>.flex-1xMQg5>.horizontal-1ae9ci>.flex-1xMQg5:last-child, .gameLibrary-TTDw4Y>.flex-1xMQg5 .flex-1xMQg5:last-child,
.applicationStore-1pNvnv>.homeWrapper-3-Wh5T>.flex-1xMQg5 .flex-1xMQg5:last-child, .applicationStore-1pNvnv>.listingWrapper-329f74>.flex-1xMQg5 .flex-1xMQg5:last-child,
.applicationStore-1pNvnv>.browseWrapper-2Qy6vG>.flex-1xMQg5 .flex-1xMQg5:last-child, .applicationStore-1pNvnv>.flex-1xMQg5 .flex-1xMQg5:last-child,
.root-26DmKJ>.headerBar-UHpsPw>.flex-1xMQg5:last-child {
  margin-right: 95px;
}
/*============== END OF SECTION ============== */

/*3. Settings*/
/*3.a. Sidebar Area*/
.lookFilled-1Gx00P {background:var(--main-color) !important;}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected { /*Fixes Blurple Area in BBD settings*/
    background:var(--main-color) !important;
    color:#fff !important;
}
/*3.b. Close Button*/
.keybind-KpFkfr {display:none;}
.closeButton-1tv5uR {transition:linear 200ms all;}
.closeButton-1tv5uR:hover {
    transform:scale(1.19);
    background:var(--main-color-faded) !important;
	border-color:var(--main-color) !important;}
/*3.c. Checkboxes, Sliders, etc...*/
.theme-dark .bar-2Qqk5Z {background:rgba(255,255,255,0.05) !important;}
.theme-dark .select-2TCrqx .Select-menu-outer {background:rgba(0,0,0,0.6) !important;}
.cardPrimaryEditable-3KtE4g[style*="rgb(114, 137, 218)"],
.themeDefault-24hCdX.valueChecked-m-4IJZ,
.barFill-23-gu- {
	background:var(--main-color) !important;
	border-color:var(--main-color) !important;
}

/*3.d. Server Settings*/
.theme-dark .searchBar-1MOL6S,
.theme-dark .card-FDVird:before {
	background:rgba(255,255,255,0.05) !important;
}
.theme-dark .colorPickerCustom-2CWBn2,
.theme-dark .elevationHigh-1PneE4 {
	background:var(--dark-color) !important;
}

/*3.e. My Account Tab*/
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse,
.theme-dark .input-cIJ7To:focus,
.theme-dark .input-cIJ7To:hover,
.theme-dark .input-cIJ7To.focused-1mmYsC {
	background:rgba(0,0,0,0.5) !important;
	border-color:var(--main-color) !important;
}

/*3.f. Privacy Tab*/
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
	border-color:var(--main-color) !important;
	color:var(--main-color) !important;
}

/*3.g. Billing Tab*/
.theme-dark .paymentRow-2e7VM6,
.theme-dark .paginator-166-09 {
	background:transparent !important;
	border:none !important;
}
.theme-dark .paymentPane-3bwJ6A {
	background:var(--dark-color) !important;
}

/*3.h. Discord Nitro Tab*/
.theme-dark .tier1Banner-1B_WXY {
	background:var(--dark-color) !important;
}

/*3.i. Voice and Video Tab*/
.userSettingsVoice-iwdUCU .media-engine-video {
	background:transparent !important;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
	background:rgba(255,255,255,0.05) !important;
	border:none !important;
}

/*3.j. Overlay Tab*/
.selected-mKYnfr.option-n0icdO {
	background:var(--main-color) !important;
	border:none !important;
}
.wrapper-3jrx9n {
	border-color:var(--main-color) !important;
}
.option-n0icdO:hover {
	background:var(--main-color-faded) !important;
}

/*3.k. Game Activity Tab*/
.theme-dark .add-game-popout {
	background:var(--dark-color) !important;
}
.theme-dark .user-settings-games .game-name-input:focus, .theme-dark .user-settings-games .game-name-input:hover {
	background:rgba(0,0,0,0.6) !important;
	border:none !important;
}

/*3.l. Library Tab*/
.foreground-2aE44H {
	stroke:var(--main-color) !important;
}

/*3.m. BetterDiscord Themes & Plugins Area*/
.bda-controls {top: 15px!important;}
span.bda-header-title {
    position: relative;
    right: -40px;
    top: 5px;
}
#bd-settingspane-container .scroller-wrap .scroller {
    position: relative;
    right: -55px;
}
/*============== END OF SECTION ============== */

/*4. Private Channels*/
/*4.a. Search Bar*/
.searchBar-6Kv8R2 {box-shadow:none !important;}
.app .search-bar-inner,
.search-bar {
	background:transparent !important;
	border:none !important;
}

/*4.b. Store*/
.app .da-tile {background-color: rgba(0,0,0,0.7)!important;}
.app .da-exclusiveRegular {background-image: linear-gradient(90deg,var(--main-color),#a6dcf4)!important;}
.app .da-exclusiveRegular::before {display:none!important;}
.app .overlappingBorder-1ysb12, .emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {border-color: var(--accent-color)!important;}
.theme-dark .itemBackground-1jfD8p:before{background:transparent !important;}
.carouselContainer-1KvOK0 {margin-top:20px !important;}
.theme-dark .announcingNitro-3Ptg6m {color:var(--main-color);}
.content-35aVm0,
.root-1bFE0x,
.bodySection-jqkkIP,
.theme-dark .row-1bU71H,
.theme-dark .card-NB61oR{
    background:rgba(0,0,0,0.7) !important;
}
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before {
    background:var(--main-color) !important;
}
.theme-dark .itemBackground-1jfD8p {border-radius:20px;}
.purchaseUnitOperatingSystem-cnbJPz {color:var(--main-color) !important;}
.overlappingBorder-1-XPGl {border-color:var(--main-color) !important;}
.theme-dark .checked-3_4uQ9 {background:var(--main-color) !important;}
.footer-3oZnEF {
    opacity:.6 !important;
    background:url(/assets/72e1fd085e240aecf005e642e655c0f4.svg) no-repeat bottom,none !important;
}
.optionActive-KkAdqq {background:rgba(0,0,0,0.7);}
.optionFocused-8MflSE {background:rgba(0,0,0,0.5);}
.theme-dark .popout-2sKjHu {background:rgba(0,0,0,0.6);}
.theme-dark .mediaFade-1SdEfL {
    background:linear-gradient(180deg,transparent 90%,rgba(0,0,0,0.7)) !important;
}
.theme-dark .description-3rB3Rp {
background:linear-gradient(180deg,transparent,rgba(32,34,37,.75) 45%,rgba(0,0,0,0.7)) !important;
}
.popout-2xBvMR {
    background:var(--background-image);
    background-position:right;
}
/*4.c. Activity*/
.theme-dark .paginationItem-2lUq0s:after {background:linear-gradient(270deg,transparent 0,rgba(0,0,0,0.8)) !important;}
.theme-dark .dockItem-2kQDqg:hover {background:rgba(255,255,255,0.03) !important;}
.theme-dark .card-7JP0BX, .newsLink-38Naqi {background:transparent !important;}
.paginationItem-2lUq0s:before {background:var(--main-color) !important;}
.carousel-2WxMes,
.article-3BkSTW,
.theme-dark .header-1RC2Wb {
    background:rgba(0,0,0,0.8) !important;
}

/*4.d. Library*/
.stickyScroller-24zUyY {background:rgba(0,0,0,0.7) !important;}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {background:rgba(255,255,255,0.1)}
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark .header-39GIC8 {
	background:transparent !important;
}
.body-1SVoBw {background:rgba(0,0,0,0.6) !important;}
.gamePreview-9weYR2 {
    box-shadow:none;
    background:var(--background-image);
}
/*4.e. Friends List*/
.theme-dark #friends {background:transparent !important;}
.theme-dark .headerBar-UHpsPw {background:rgba(0,0,0,0.7);}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {background:var(--main-color);}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {background:rgba(255,255,255,.1);}
.theme-dark #friends .tab-bar .tab-bar-item.selected,
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background:var(--main-color-faded);
    color:#fff;
    transition:100ms all linear;
}

/*4.f. Selected and Hovered Content*/
.da-selected a {background-color: rgba(0,0,0,0.7) !important;}
.da-channel:hover a {background-color: rgba(255,255,255,0.03);}
/*============== END OF SECTION ============== */

/*5. Channels List*/
/*5.a. Selected and Hovered Content*/
.channels-Ie2l6A .content-20Aix8 {border-radius:5px !important;}
.channels-Ie2l6A .content-20Aix8:hover {background:rgba(0,0,0,0.4) !important;}
.contentSelectedText-3wUhMi {background:rgba(0,0,0,0.8) !important;}

/*5.b. Server Header*/
.header-2o-2hj {
	background:transparent !important;
	border:none !important;
	box-shadow:none !important;
}
/*5.c. Account Details Container*/
.button-2b6hmh {margin:0 !important;}
.container-2Thooq {
	width: 286px;
	height:78px !important;
	margin-left: -71px !important;
	bottom: -1px !important;
	position: absolute;
	background:rgba(0,0,0,0.9) !important;
}
.theme-dark .guildsWrapper-5TJh6A, .channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr {
    height: calc(100vh - 78px) !important;
}
.guildsWrapper-5TJh6A + .flex-1xMQg5 > .flex-1xMQg5 {position: static !important;}
/*============== END OF SECTION ============== */

/*6. Chat Area*/
/*6.a. Has More Button*/
.theme-dark .hasMore-3e72_v button { 
	background:rgba(255,255,255,0.06) !important;
	color:var(--main-color) !important;
	border:none !important;
}

/*6.b. New Messages Bar*/
.newMessagesBar-mujexs {background:var(--main-color);}
.newMessagesBar-mujexs button:last-child {color:#fff !important;}
.newMessagesBar-mujexs:hover {background:var(--main-color-faded);}

/*6.c. Send Messages Area*/
.theme-dark .attachButtonDivider-3Glu60 {display:none;}.button-2b6hmh {margin:0;}

/*6.d. Emoji Picker*/
#bda-qem button {color: #a3a3a3;}
.emojiPicker-3m1S-j {background-color: rgba(0,0,0,0.95) !important;}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {background: hsla(0, 0%, 5%, 0.95);}
.emojiPicker-3m1S-j .search-bar-inner {background-color: rgba(255,255,255,0.1) !important;}
#bda-qem button {border-left: 1px solid #262829!important;}
.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: rgba(23, 22, 22, 0.4)!important;
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
	background-color: rgba(255, 255, 255, .1)!important;
}
#bda-qem button.active {
    background: rgba(0, 0, 0, 0.95) !important;
    border: 1px solid #262626;
}

/*6.e. Loading Animations*/
.spinner-pulsing-ellipsis .spinner-item,
.spinner-wandering-cubes .spinner-item,
.chat-3bRxxu .newMessagesBar-mujexs {
  background-color: var(--main-color) !important;
}

/*6.f. No Channel*/
.theme-dark .noChannel-Z1DQK7 {
    background:transparent;
}

/*6.g. Embeds*/
.embed-IeVjo6:hover {
    -webkit-transform: scale(1.03) !important;
    transform: scale(1.03) !important;
}
.theme-dark .embedPill-1Zntps {
    height: calc(100% - 20px) !important;
    position: absolute !important;
    top: 10px !important;
    left: 6px !important;
    border-radius: 50px !important;
    width: 4px !important;
}
.embed-IeVjo6 {
    background-color: rgba(0, 0, 0, 0.66) !important;
    border-color: rgba(0, 0, 0, 0.66) !important;
}
.embed-IeVjo6 {
    border: 1px solid hsla(0,0%,80%,.3);
    padding: 8px 10px !important;
    -webkit-transition: 200ms cubic-bezier(.2, .11, 0, 1);
    transition: 200ms cubic-bezier(.2, .11, 0, 1) !important;
    box-shadow: 2px 2px 10px #0c0c0c !important;
    border-radius:5px;
}
.theme-dark .embedInner-1-fpTo {
    background:transparent !important;
    border:none !important;
}

/*6.h. Tags*/
.large-3ChYtB:not(.wrapper-2F3Zv8):hover::before {transform:scale(1.5);}
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="254362351170617345"]::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="300024006462144512"]::before {
  background-image: url(https://i.imgur.com/233d55Y.gif);
	content: '';
  height: 25px;
  width: 25px;
	bottom: -8px;
	right: -8px;
	border-radius:50px;
  background-size: 100%;
	transition:250ms transform linear;
  background-repeat: no-repeat;
	box-sizing: border-box;
  white-space: nowrap;
  position: absolute;
}

/*6.i. Jump To Present*/
.chat-3bRxxu .jumpToPresentBar-9P20AM button:first-child {display:none}
.jumpToPresentBar-9P20AM{left:auto!important;}
.chat-3bRxxu .jumpToPresentBar-9P20AM button:last-child{color:#fff;}
.theme-dark .chat-3bRxxu .jumpToPresentBar-9P20AM{background-color:var(--accent-color);}
.theme-dark .chat-3bRxxu .jumpToPresentBar-9P20AM:hover{background-color:var(--main-color);}
.chat-3bRxxu .jumpToPresentBar-9P20AM .spinner{padding-right:7px;padding:8px;padding-left:50px;}

/*============== END OF SECTION ============== */

/*7. Members List*/
/*7.a. Selected and Hovered Content*/
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {background:rgba(255,255,255,0.01) !important;}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4 {background:rgba(255,255,255,0.07);}

/*7.b. User Status*/
.theme-dark .container-2Thooq .status-oxiHuE:not(.status-3fQvEa) {pointer-events: none;}
.status-oxiHuE:not(.status-3fQvEa).online-2S838R {border-color: #43b581 !important;}
.status-oxiHuE:not(.status-3fQvEa).idle-3DEnRT {border-color: #faa61a !important;}
.status-oxiHuE:not(.status-3fQvEa).dnd-1_xrcq {border-color: #f04747 !important;}
.status-oxiHuE:not(.status-3fQvEa).streaming-2_dnHe {border-color: #643da7 !important;}
.status-oxiHuE:not(.status-3fQvEa).offline-3qoTek {border-color: #636b75 !important;}
.status-oxiHuE:not(.status-3fQvEa).invisible-1kp8Z0 {border-color: #636b75 !important;}
.status-oxiHuE:not(.status-3fQvEa) {
  height: calc(100% - 1px) !important;
  width: calc(100% - 1px) !important;
  top: -1px !important;
	left: -1px !important;
	border-radius:50px !important;
  background: transparent !important;
  border:2px solid !important;
}
/*============== END OF SECTION ============== */

/*8. Popups, Modals and Dropdowns*/
/*8.a. Status Picker*/
.alt-3btY0e .item-1GzJrl:nth-of-type(1){animation-delay: 0ms;}
.alt-3btY0e .item-1GzJrl:first-of-type {padding-left: 0px !important;}
.alt-3btY0e .item-1GzJrl:nth-of-type(3){animation-delay: 100ms;}
.alt-3btY0e .item-1GzJrl:nth-of-type(4){animation-delay: 200ms;}
.alt-3btY0e .item-1GzJrl:nth-of-type(5){animation-delay: 300ms;}
.alt-3btY0e .statusIconText-3b4TkH > div {color:transparent;}
.popoutTopLeft-b5Eb3O  {left: 75px !important; bottom: 75px !important;}
.alt-3btY0e .item-1GzJrl:first-of-type {padding-left: 0px !important;}
.popoutTopLeft-b5Eb3O {margin-top:-22.5px;}
.theme-dark .alt-3btY0e .helper-2c73HK {display:none;}
.alt-3btY0e.menu-Sp6bN1:hover::before {pointer-events: initial;}
body:active .alt-3btY0e.menu-Sp6bN1:not(:active) {opacity: 0;transition:150ms ease;}
.alt-3btY0e .separator-2zcjq8  {border-bottom: 0px;}
@keyframes anim-status {from {transform: scale(0); opacity: 0 }}
.alt-3btY0e.menu-Sp6bN1{
    border-radius: 0 !important;
    width: 240px !important;
    bottom: 60px !important;
    top: initial !important;
    height: 70px !important;
    overflow:visible;
    cursor: initial;
    background:var(--background-image) !important;
    background-position:center !important;
    background-size:cover !important;
}
.alt-3btY0e .item-1GzJrl {
    transition: all 200ms ease;
    color: transparent;
    pointer-events: auto;
    float: left;
    width: 55px;
    height: 70px;
    padding: 0 !important;
    left: 5px;
    bottom: 0;
    transform: none;
    position: relative;
    z-index:2;
    -webkit-backface-visibility:hidden;
    background: transparent !important;
    animation: anim-status 400ms cubic-bezier(.4,0,0,1) backwards;
}
.alt-3btY0e.menu-Sp6bN1::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background-color:rgba(0,0,0,0.7);
}
.alt-3btY0e .item-1GzJrl:first-of-type {padding-left:0px !important; box-sizing: content-box !important;}
.alt-3btY0e .item-1GzJrl .online-2S838R,.alt-3btY0e .item-1GzJrl .idle-3DEnRT,.alt-3btY0e .item-1GzJrl .dnd-1_xrcq,.alt-3btY0e .item-1GzJrl .invisible-1kp8Z0{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  left:0px !important;
  margin-left: 7.50px !important;
  bottom: 0;
  margin-top: 15px;
  transition: all 200ms ease;
  margin-right: 0 !important;
}
.alt-3btY0e .item-1GzJrl:hover .online-2S838R,.alt-3btY0e .item-1GzJrl:hover .idle-3DEnRT,.alt-3btY0e .item-1GzJrl:hover .dnd-1_xrcq,.alt-3btY0e .item-1GzJrl:hover .invisible-1kp8Z0{
    color: transparent;
    opacity: 1;
    transform:scale(1.2);
    transition: all 200ms cubic-bezier(0,0,0,1);
    z-index: 2;
}
.alt-3btY0e .item-1GzJrl:active online-2S838R,.alt-3btY0e .item-1GzJrl:active .idle-3DEnRT,.alt-3btY0e .item-1GzJrl:active .dnd-1_xrcq,.alt-3btY0e .item-1GzJrl:active .invisible-1kp8Z0{
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    transition: all 100ms cubic-bezier(0,0,0,1),box-shadow 0ms;
    opacity: 1;
    box-shadow: 0 -10px 20px rgba(0,0,0,.15) inset,0 1px 1px rgba(255,255,255,.05) inset;
}
.alt-3btY0e:active {opacity: 0; transition: all 100ms ease 100ms}
.alt-3btY0e .item-1GzJrl:nth-of-type(1) .online-2S838R{
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNOSAxNi4yTDQuOCAxMmwtMS40IDEuNEw5IDE5IDIxIDdsLTEuNC0xLjRMOSAxNi4yeiIvPjwvc3ZnPg==);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: 50%;
    left: auto;
}
.alt-3btY0e .item-1GzJrl:nth-of-type(3) .idle-3DEnRT{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iLTk0NyA1MjkgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTk0NyA1MjkgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iLTkyOSw1NDQuNSAtOTMwLDU0NiAtOTM2LjIsNTQyLjIgLTkzNi4yLDUzNSAtOTM0LjQsNTM1IC05MzQuNCw1NDEuMiAiLz48L3N2Zz4=);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.alt-3btY0e .item-1GzJrl:nth-of-type(4) .dnd-1_xrcq{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iLTk0NyA1MjkgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTk0NyA1MjkgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxyZWN0IHg9Ii05NDAuNCIgeT0iNTQwLjEiIGNsYXNzPSJzdDAiIHdpZHRoPSIxMC45IiBoZWlnaHQ9IjEuOCIvPjwvc3ZnPg==);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
}
/*8.b. Pinned Messages & Recent Mentions*/
.theme-dark .header-ykumBX,
.theme-dark .messageGroupWrapper-o-Zw7G {
    background:rgba(0,0,0,0.86);
}
.themedPopout-25DgLi {
    background:var(--background-image) !important;
    background-position:center !important;
}
.themedPopout-25DgLi .scroller-wrap .scroller {background:rgba(0,0,0,0.9);}
.theme-dark .messageGroupWrapper-o-Zw7G {border-color:transparent !important;}
.theme-dark .messageGroupWrapper-o-Zw7G:hover {border-color:var(--main-color) !important;}
.jumpButton-3DTcS_ {background:rgba(240, 240, 240, 0.07) !important;}
.jumpButton-3DTcS_:hover {color:white !important;}
.theme-dark .actionButtons-1sUUug {
    box-shadow:none !important;
    background:transparent !important;
}

/*8.c. Search*/
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {background:rgba(255,255,255,0.05);}
.container-3ayLPN {background:rgba(0,0,0,0.8) !important;}
.theme-dark .option-96V44q:after {display:none !important;}
.popoutBottom-1YbShG {
	background:var(--background-image) !important;
	background-potition:center !important;
	background-size:cover !important;
}
.theme-dark .option-96V44q.selected-rZcOL-,
.theme-dark .focused-2bY0OD {
	background:rgba(0,0,0,0.5) !important;
	border:none !important;
}
.theme-dark .dim-1l4L4y span,
.theme-dark .keybindShortcut-1BD6Z1 span {
	background:rgba(0,0,0,0.9)
}
/*search bar*/
.search .search-bar {width:30px;}
.search .search-bar:hover {width:175px;}
.search.focused .search-bar {width: 244px !important;}
.search-l1Wz-Q .search .search-bar {background:rgba(255,255,255,0.05) !important;}

/*8.d. Find/Start a Conversation*/
.theme-dark .quickswitcher-3JagVE {
	background:var(--dark-color) !important;
}
.theme-dark .input-2VB9rf, .theme-dark .input-2VB9rf:focus {
	background:rgba(0,0,0,0.5) !important;
}
.theme-dark .resultFocused-3aIoYe {
	background:rgba(0,0,0,0.25) !important;
}
/*8.e. Add/Create Guilds Modal*/
.form-deprecated .control-group input[type=email]:focus,
.form-deprecated .control-group input[type=number]:focus,
.form-deprecated .control-group input[type=password]:focus,
.form-deprecated .control-group input[type=text]:focus,
.form-deprecated .control-group textarea:focus,
.form.deprecated .control-group input[type=email]:focus,
.form.deprecated .control-group input[type=number]:focus,
.form.deprecated .control-group input[type=password]:focus,
.form.deprecated .control-group input[type=text]:focus,
.form.deprecated .control-group textarea:focus {
	border-color:var(--main-color) !important;
}
.form-deprecated header,
.form.deprecated header,
.create-guild-container h5,
.create-guild-container .action.create .action-header,
.regionSelect-3lf4eE button,
.create-guild-container.deprecated .join-server .sample-link,
.regionSelectModal-12e-57 .regionSelectModalHeader-21khC1 {
	color:var(--main-color) !important;
}
.regionSelect-3lf4eE:hover .regionSelectInner-24f4Ce,
.regionSelect-3lf4eE:hover button {
	border-color:var(--main-color) !important;
}
.regionSelectModal-12e-57 {
	background:var(--dark-color) !important;
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:hover {
	background:rgba(0,0,0,0.5) !important;
	border-color:var(--main-color) !important;
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {
	background:rgba(0,0,0,0.3) !important;
	transition:100ms linear all;
	border-color:transparent;
}

/*8.f. Greeting Message*/
body:before{content:"Dark Matter Fork has been loaded.";z-index:1000000000000000000000000;color:#fff;background:var(--main-color);top:0px;left:50%;position:absolute;border-radius:5px;padding:5px 15px;-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);-webkit-animation:version 3s ease;animation:version 3s ease;-webkit-animation-delay:4s;animation-delay:4s;}
body,span:not(.spinner-item){-webkit-font-smoothing:antialiased;-webkit-backface-visibility:hidden;}
@-webkit-keyframes version{from{-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);}
20%{-webkit-transform:translate(-50%, 20%);transform:translate(-50%, 20%)}
80%{-webkit-transform:translate(-50%, 20%);transform:translate(-50%, 20%)}
to{-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);}}
@keyframes version{from{-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);}
20%{-webkit-transform:translate(-50%, 20%);transform:translate(-50%, 20%)}
80%{-webkit-transform:translate(-50%, 20%);transform:translate(-50%, 20%)}
to{-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);}
}

/*8.g. BetterDiscord Error Modal*/
.bd-modal-wrapper .header, .bd-modal-wrapper .bd-modal-body {background-color: #161921;}
.bd-modal-wrapper .footer button {background-color: var(--main-color);}
.bd-modal-wrapper .bd-modal-inner {border: 1px solid rgb(22, 25, 33);}

/*8.h. Upload Modal*/
.uploadModal-2ifh8j {background-color: var(--dark-color);}
.uploadModal-2ifh8j .footer-3mqk7D {color: white;}
.theme-brand .content-Qb0rXO {color: white;}
.uploadModal-2ifh8j .footer-3mqk7D {background:rgba(0,0,0,0.3) !important;}
.uploadModal-2ifh8j .inner-3nWsbo {border-color:var(--main-color) !important;}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
  border-color: var(--accent-color) !important;
  margin-top: 0;
  transform: translateY(-50%);
  transition: all .3s ease-in-out;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j:hover {
  height: 208px;
  width: calc(100% - 28px);
  transform: translateY(calc(-50% - 10px));
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
	background:var(--main-color) !important;
	color:white !important;
}

/*8.i. Server Dropdown*/
.menu-Sp6bN1 {background:rgba(0,0,0,0.8) !important;}
.item-1GzJrl {transition:50ms all linear;}
.item-1GzJrl:hover {background:rgba(0,0,0,0.5) !important;}
.separator-2zcjq8 {display:none !important;}

/*8.j. Screenshare Modal*/
.selectorButtonSelected-1j4DmC {background:var(--main-color) !important;}
.imageSelected-4Kl81J {border-color:var(--main-color) !important;}
.theme-dark .tiles-2aXG_k,
.group-2dAfBy {
	background:rgba(0,0,0,0.3) !important;
}

/*8.k. RTC Connection Popout*/
.theme-dark .container-2x5lvQ {
	background:var(--background-image) !important;
	background-size:cover !important;
}
.theme-dark .container-2x5lvQ header,
.theme-dark .container-2x5lvQ section {
	background:rgba(0,0,0,0.7) !important;
}

/*8.l. User Popouts*/
.userPopout-3XzG_A .header-2BwW8b:after {display:none;}
.headerPlaying-j0WQBV {background:var(--main-color) !important;}
.lookInverted-2D7oAl.colorBrand-3pXr91 {color:var(--main-color) !important;}
.body-3iLsc4,
.footer-1fjuF6 {
	background:rgba(0,0,0,0.7) !important;
	border:none !important;
}
.userPopout-3XzG_A .nameTag-m8r81H .game,
.userPopout-3XzG_A .nameTag-m8r81H:not(.headerTagNoNickname-ENx6no) .discriminator,
.userPopout-3XzG_A .nameTag-m8r81H:not(.headerTagNoNickname-ENx6no) .username {
	color:white !important;
}
.headerNormal-T_seeN {
	background:var(--dark-color) !important;
	border:none !important;
}
.userPopout-3XzG_A {
	background:var(--background-image);
	background-position:center;
}
.theme-dark .quickMessage-1yeL4E {
	background:rgba(255,255,255,0.05);
	border:none !important;
}
/*============== END OF SECTION ============== */

/*9. Calls*/
/*9.a. General Voice Call Area*/
.video-1FfuMD {
	background:transparent;
}
.theme-dark .wrapper-29NfPK {
	background:rgba(0,0,0,0.5) !important;
}
.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
	background:rgba(0,0,0,0.5) !important;
	border:none !important;
}
.callAvatarBorder-1D_KaE.video-3GgX2M.selected-2esnyn:not(.speaking-oCqYMI):not(.soundsharing-102bS9) {
	box-shadow:inset 0 0 0 2px var(--main-color) !important;
}
.path2-1q7bG_,
.path-92Hmty {
	stroke:var(--main-color) !important;
}
