.insetshadow_FriendsListInsetShadowCtn_1S167, .title-area-highlight, .singleWindowFocusBar {
    display:none;
}

/* the glow */
.statusHeaderGlow {display:none;}

/* not so dark color */
.friendListHeaderContainer, .friendlistListContainer, .friendListFooter, .chatDialogs {
    background: #1A1A1A;
}

.activeTab, .friendsListSectionTitle, .singleWindowDivider{
    background: #202020;
}

/* slight less dark verson of #202020 */
.singleWindowDivider:hover, .resizingSingleWindow .singleWindowDivider {
    background: #292929;
}

.SteamPlayerGroupFooterLabel, .friend.firstInGroup .SteamPlayerGroupLines, .friend.inGroup .SteamPlayerGroupLines, .friend.lastInGroup .SteamPlayerGroupLines, .SteamPlayerGroupFooter .SteamPlayerGroupLines {
    display: none;
}


/* the people in lobbys */
.SteamPlayerGroupFooterCount .count {
    margin-top: -33px;
    right: 45px;
    color: #33b300;
    position: relative;
}
/* color of green texts */
.ingame .personanameandstatus_gameName_qvibF.personanameandstatus_richPresenceLabel_3Q6g1, .ingame .personanameandstatus_gameName_qvibF.personanameandstatus_richPresenceLabel_3Q6g1 a, .ingame .personanameandstatus_gameName_qvibF.personanameandstatus_richPresenceLabel_3Q6g1 a:hover, .ingame .personanameandstatus_gameName_qvibF.personanameandstatus_richPresenceLabel_3Q6g1 a:active, .ingame .personanameandstatus_gameName_qvibF.personanameandstatus_richPresenceLabel_3Q6g1 a:visited, .ingame.personanameandstatus_twoLine_2wZNn .personanameandstatus_richPresenceLabel_3Q6g1 {
    color: #33b300;
}

/* border of color */
.ingame .steamavatar_avatarStatus_1Pwr6 {
    background: #33b300;
}
/* name color */
.ingame .personanameandstatus_playerName_1uxaf {
    color: #a3ff60;
}

.titleBarContainer.ChatTabs {
    background: #202020;
    border: 0.5px solid #121216;
    border-left: none;
}

.quickAccessFriend .clanName, .friend.quickAccessFriend .playerName, .personanameandstatus_playerName_1uxaf, .chatTab .ChatTabContent {
    -webkit-mask: none;
}
.online .personanameandstatus_playerName_1uxaf, .online .personanameandstatus_richPresenceLabel_3Q6g1, .online .personanameandstatus_gameName_qvibF.personanameandstatus_richPresenceLabel_3Q6g1 a, .online .personanameandstatus_gameName_qvibF.personanameandstatus_richPresenceLabel_3Q6g1 a:hover, .online .personanameandstatus_gameName_qvibF.personanameandstatus_richPresenceLabel_3Q6g1 a:active, .online .personanameandstatus_gameName_qvibF.personanameandstatus_richPresenceLabel_3Q6g1 a:visited {
    color: #00daff;
}


/* chat stuff */
.chatTab .chatTabHighlight {
    display: none;
}
.chatWindow .chatHeader {
    background-color: #202020;
    background: #202020;
}
.titleBarContainer.ChatTabs {
    background: #202020;
    border: 0.5px solid #202020;
}
.chatTabList .chatTab, .ChatTabsBackButton {
    background: #1A1A1A;
}

.chatWindow {
    background: #1A1A1A;
}
.chatWindow .chatEntry {
    background: #202020;
}
.chatentry_chatEntryControls_2O_X7, .chatentry_chatSubmitButton_3VRfL.chatentry_disabled_2p2vW {
    background-color: #1A1A1A;
}
.chatentry_chatSubmitButton_3VRfL {
    background: #202020;
}
.chatentry_chatSubmitButton_3VRfL.chatentry_EmoticonPickerButton_3fgX0, .chatentry_chatSubmitButton_3VRfL.chatentry_EmbedButton_1vvRh, .VoiceToggle {
    background: #202020!important;
}
.bbcode_ImageModalBackground_XfE_W {
    background-color: #1A1A1A;
}
.contextmenu_contextMenu_3_a2Z {
    background: #1f1f1f;
}
.emoticon_EmoticonSelector_Separator_1_yzI .emoticon_EmoticonSelector_SeparatorBackground_13bYy {
    background: #353535;
}
.chatTabList .chatTab, .ChatTabsBackButton {
    background: #202020;
}
.chatTabList .chatTab:not(.active) {
    box-shadow: inset 1px -1px 2px black;
    background: #232323;
}
.chatTabOpenFriendsList, .chatTabSelector{
    background: #202020!important;
}
.emoticon_hover_content {
    background-color: #202020;
    border: 1px solid #585858;
}
.contextmenu_contextMenuItem_CBC-y:hover, .contextmenu_contextMenuItem_CBC-y.contextmenu_active_3vYUp {
    background: #2d2c2c;
}
.friendGroup .friend, .friendGroup .SteamPlayerGroupFooter {
    margin: -5px 0px 2px 0px;
}
.friendGroup .SteamPlayerGroupFooter {
    height: 0px;
}


/* custom code */
/* button */ 
::-webkit-scrollbar-button {
    height: 25px!important; 
    border-radius: 0px!important; 
    background-color: #1a1a1a!important; 
    border: 2px solid #131313!important;
} 
::-webkit-scrollbar-button:hover { 
    background-color: #272727!important; 
}
/* button arrows scroll bar */
/* Down */
::-webkit-scrollbar-button:vertical:increment {
    background-image: url(https://i.imgur.com/rsJC3Hz.png)!important;
    background-repeat: no-repeat!important;
    background-position: -1px 2px!important;
}
/* Up */
::-webkit-scrollbar-button:vertical:decrement { 
    background-image: url(https://i.imgur.com/MTISXcR.png)!important;
    background-repeat: no-repeat!important;
    background-position: -1px 2px!important;
}
/* background behind scrollbar */
::-webkit-scrollbar-track {
    background-color: #131313!important;
}
/* thumb normal and hover state */
::-webkit-scrollbar-thumb {
    background-color: #1a1a1a!important;
    border: 2px solid #131313!important;
    border-radius: 0px!important;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #272727!important;
    border-radius: 0px!important;
}
/* makes scrollbar wider */
::-webkit-scrollbar {
    width: 18px!important;
}
/* disables scroll bar at settings */
.DialogBody::-webkit-scrollbar {
    display:none!important;
}




.friendlistListContainer .friend .avatarHolder .avatarStatus, .CompactFriendsList .friend .avatarHolder .avatarStatus {
    top: -3px;
    bottom: -2px;
    width: 40px;
    z-index: -999;
    border: 0px;
    border-radius: 20px;
}
.steamavatar_avatar_f2laR {
    box-shadow: none;
    border-radius:30px;
}
.awayOrSnooze .steamavatar_avatarStatus_1Pwr6, .ChatTabContent .friend.awayOrSnooze .avatarHolder .avatarStatus, .friend.quickAccessFriend.friend.awayOrSnooze .avatarHolder .avatarStatus, .ModalDialogPopup .DialogContentTransition .DialogBody {
    -webkit-mask: none;
}
.friendlistListContainer .awayOrSnooze .avatarHolder .avatarStatus {
    top: -2px!important;
    z-index: -999!important;
    left: -4px!important;
    border-radius: 20px!important;
    border: 2px dashed!important;
    background-color: #18ea760a!important;
    border-color: #33b300!important;
}
.friendlistListContainer .friend.online.awayOrSnooze .avatarHolder .avatarStatus {
    top: -2px!important;
    z-index: -999!important;
    left: -4px!important;
    border-radius: 20px!important;
    border: 2px dashed!important;
    background: none!important;
    background-color: #6dcff62e!important;
    border-color: #6dcff6!important;
}
.ChatTabContent .avatarHolder .avatar {
    margin-left: 4px;
}

.ChatTabContent .avatarHolder .avatar {
    width: 32px;
    margin-top: 8px;
    margin-left: 4px;
}
.ChatTabContent .avatarHolder .avatarStatus {
    height: 38px;
    position: relative;
    left: 2px;
    top: 6px;
    margin-top: -41px;
    border: 0px solid;
    border-radius: 20px;
    z-index: 3;
}

.ChatTabContent .awayOrSnooze .avatarHolder .avatarStatus {
    border: 2px dashed!important;
    top: 7px!important;
    z-index: -999!important;
    left: 0px!important;
    width: 35px;
    height: 33px;
    border-radius: 20px!important;
    background-color: #18ea760a!important;
    border-color: #33b300!important;
}
.ChatTabContent .friend.online.awayOrSnooze .avatarHolder .avatarStatus {
    border: 2px dashed!important;
    top: 7px!important;
    z-index: -999!important;
    left: 0px!important;
    width: 35px;
    height: 33px;
    border-radius: 20px!important;
    background-color: #6dcff62e!important;
    background: transparent!important;
    border-color: #6dcff6!important;
}

/* favorites area */
.friend.quickAccessFriend .avatarHolder .avatarStatus {
    display: block;
    height: 54px;
    margin-bottom: -47px;
    position: relative;
    top: -51px;
    left: -3px;
    width: 112%;
    z-index: -999;
    border: 0px solid;
    border-radius: 30px;
}

.quickAccessFriends .friend.friend.awayOrSnooze .avatarHolder .avatarStatus {
    border: 2px dashed!important;
    height: 50px;
    margin-bottom: -47px;
    top: -50px!important;
    left: -4px!important;
    width: 108%;
    z-index: -999!important;
    background-color: transparent;
    border-radius: 30px!important;
    border-color: #33b300!important;
}

.quickAccessFriends .friend.friend.online .avatarHolder .avatarStatus {
    border: 2px dashed!important;
    height: 50px;
    margin-bottom: -47px;
    top: -50px!important;
    left: -4px!important;
    width: 108%;
    z-index: -999!important;
    background-color: transparent;
    border-radius: 30px!important;
    background-color: #6dcff62e!important;
    background: transparent!important;
    border-color: #6dcff6!important;
}

/* cancel invitation */
.DialogContent, .DialogContentTransition {
    background: #1A1A1A;
}

/* button not hovered pretty orange */
button.DialogButton.Primary, .DialogSlider_Value, .DialogOnOffToggle_Option.Active, .ModalPosition_TopBar {
    background: linear-gradient(90deg, rgba(255,172,5,1) 0%, rgba(250,135,12,1) 36%, rgba(255,179,0,1) 100%);
}
button.DialogButton.Primary:hover {
    background: linear-gradient(90deg, rgba(247,189,73,1) 0%, rgba(252,171,82,1) 36%, rgba(250,182,23,1) 100%);
}
.PagedSettingsDialog_Title {
    color: #ffb528;
}
.DialogSlider_Grabber {
    background: linear-gradient(90deg, rgba(247,189,73,1) 0%, rgb(252, 171, 82) 36%, rgba(250,182,23,1) 100%);
}
/* cancel buttons not hovered */
button.DialogButton {
    background: #353535;
}
button.DialogButton:hover {
    background: #515151;
}

/* settings page main dark color */
.PagedSettingsDialog_PageListColumn {
    background: #141414;
}
.voiceSelfDirections {
    background-color: #1b1b1b;
}
._DialogSection.pushToTalkSection .pushToKeyAssignContainer.showPTTOptions {
    height: 85px;
}
._DialogSection.pushToTalkSection .PPTSoundOption .DialogCheckbox_Container {
    margin-top: 5px;
    margin-bottom: -5px;
    top: 8px;
}
.DialogTextInputBase, ._DialogInputContainer, .DialogOnOffToggle_Control {
    border-radius: 0px;
}

.DialogCheckbox .SVGIcon_DialogCheck path {
    stroke: #ff9906;
}